<md-dialog aria-label="">
<md-content class="md-padding"> <form name="Form" ng-submit="saveData()">
 <div layout layout-sm="column">
 <md-input-container flex> <md-select ng-model="size">
<label>Select criteria</label>
<md-option>Count</md-option>
<md-option>Time</md-option>
</md-select> </md-input-container>
 </div>
 <md-input-container flex> <label>Value</label> <input ng-model="value"> </md-input-container>
 <div layout layout-sm="column">
 <md-input-container  flex> <label>Accumulate Condition</label> <input ng-model="accumulate"></md-input-container>
 <h3>IsContinuous</h3>
 <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1"></md-checkbox>
 </form> </md-content> <div class="md-actions" layout="row">
 <span flex></span> <md-button ng-click="cancel()"> Cancel </md-button>
  <md-button type="submit" class="md-primary"> Save </md-button>
  </div>
 </md-dialog>
