<div layout="column" layout-sm="column" layout-xs="column" layout-padding class="watchlistlayout">
  <div layout="row"  layout-sm="column" layout-xs="column" layout-align="space-around center" flex-offset="5">
    <md-input-container flex="50">
      <label>Watch List Name</label>
      <input ng-required="true" flex="90" type="text" ng-model="wlstdef.name">
    </md-input-container>
    <md-input-container flex="50" >
      <label>Purpose</label>
      <textarea ng-required="true" flex="90" ng-model="wlstdef.description"></textarea>
    </md-input-container>
  </div>

  <div layout="row" layout-sm="column" layout-xs="column">
    <div id="watchListnamespace"  ng-controller="namespacectrl as ctrl" flex="40" flex-offset="5">
      <md-autocomplete flex-offset="20" flex="100"
      ng-disabled="ctrl.isDisabled"
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item"
      md-min-length="0"
      placeholder="Select Namespace">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
      <md-not-found>
        No namespace matching "{{ctrl.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>
  </div>
    <div id="watchListnamespace"  ng-controller="Streamctrl as ctrl1" flex="40" flex-offset="5">
      <md-autocomplete flex-offset="10" flex="80"
      ng-disabled="ctrl1.isDisabled"
      md-no-cache="ctrl1.noCache"
      md-selected-item="ctrl1.selectedItem"
      md-search-text-change="ctrl1.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl1.searchText"
      md-selected-item-change="ctrl1.selectedItemChange(item)"
      md-items="item in ctrl1.querySearch(ctrl.searchText)"
      md-item-text="item"
      md-min-length="0"
      placeholder="Select Data Stream">
      <md-item-template>
        <span md-highlight-text="ctrl1.searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
      <md-not-found>
        No matching "{{ctrl1.searchText}}" was found.
      </md-not-found>
    </md-autocomplete>
  </div>
</div>

<div></div>

<!-- =============================== STARTING TO LOOP ==================================== --->
<div id="watchListnamespace" ng-repeat-start="expr in wlstdef.expressions">
  <md-whiteframe class="md-whiteframe-3dp" layout layout-align="center center">
    <div class="flex container">
      <div id="lfieldwatchlist" ng-controller="lfield as ctrl">
        <md-autocomplete flex-offset="5" flex="40"
        ng-disabled="ctrl.isDisabled"
        md-no-cache="ctrl.noCache"
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item, expr)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Select LField">
        <md-item-template>
          <span  md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
          No LField option matching "{{ctrl.searchText}}" were found.
          <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
        </md-not-found>
      </md-autocomplete>
    </div>

    <div id="operatorwatchlist" ng-controller="operator as ctrl">
      <md-autocomplete flex-offset="35" flex="20"
      ng-disabled="ctrl.isDisabled"
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item,expr)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item"
      md-min-length="0"
      placeholder="Operator">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
      <md-not-found>
        No namespace matching "{{ctrl.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>
  </div>

  <div id="rfieldwatchlist" ng-controller="rfield as ctrl">
    <md-autocomplete flex-offset="55" flex="40"
    ng-disabled="ctrl.isDisabled"
    md-no-cache="ctrl.noCache"
    md-selected-item="ctrl.selectedItem"
    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl.searchText"
    md-selected-item-change="ctrl.selectedItemChange(item,expr)"
    md-items="item in ctrl.querySearch(ctrl.searchText)"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="RField">
    <md-item-template>
      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
    </md-item-template>
    <md-not-found>
      No namespace matching "{{ctrl.searchText}}" were found.
    </md-not-found>
  </md-autocomplete>
  <p>
    <span>{{wlstdef.expressions[$index].watch.lfield.exprAsText}}</span>
    <span>{{wlstdef.expressions[$index].watch.operator}}</span>
    <span>{{wlstdef.expressions[$index].watch.rfield.exprAsText}}</span>
  </p>
</div></div>
</md-whiteframe>
<!--- ========================== END OF LOOPING EXPRESSIONS ========================================= -->
</div> <!-- end of ng repeat start for "stmt in wlstdef.statements -->
<div ng-repeat-end>
  <md-button class="md-raised md-mini" ng-click="wlstdef.removeExpression($index);" aria-label="">Remove</md-button>
  <md-button class="md-raised md-mini" ng-show="wlstdef.expressions.length>1 && !$last" ng-click="wlstdef.addNewExpression($index);" aria-label="">ADD</md-button>


  <md-divider ng-class="{'last':$last}" class="vertical-divider"></md-divider>
  <md-menu ng-controller="actionButtonCtrl as ctrl" ng-class="{'last':$last}">
    <md-button class="md-fab md-mini md-primary actionButton" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
      <md-icon md-font-icon="fa fa-paw fa-2x"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button>Pipe</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>Filter</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<md-button id="watchlistpadding" class="md-raised" aria-label=""  ng-click="wlstdef.addNewExpression()">Add Expression</md-button>
</div>
<div layout="row" class="watchlistlayout" flex-offset="15">
  <div flex="10">
    <h3 class="heading" hide-xs hide-sm hide-md>Output To</h3>
  </div>
  <div id="watchListnamespace"  ng-controller="output as ctrl1" flex="40">
    <md-autocomplete flex-offset="5" flex="80"
    ng-disabled="ctrl1.isDisabled"
    md-no-cache="ctrl1.noCache"
    md-selected-item="ctrl1.selectedItem"
    md-search-text-change="ctrl1.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl1.searchText"
    md-selected-item-change="ctrl1.selectedItemChange(item)"
    md-items="item in ctrl1.querySearch(ctrl.searchText)"
    md-item-text="item.display"
    md-min-length="0"
    placeholder="Select Output Stream">
    <md-item-template>
      <span md-highlight-text="ctrl1.searchText" md-highlight-flags="^i">{{item.display}}</span>
    </md-item-template>
    <md-not-found>
      No namespace matching "{{ctrl1.searchText}}" were found.
      <a ng-click="ctrl.newStream(ctrl1.searchText)">Create a new one!</a>
    </md-not-found>
  </md-autocomplete>
</div>
</div>
<div class="watchlistlayout">
  <md-button class="md-raised md-primary">Cancel</md-button>
  <md-button class="md-raised md-primary">Save</md-button>
  <h3>
    Object Structure
    <md-checkbox ng-model="checked"></md-checkbox>
  </h3>
  <pre ng-show="checked">{{wlstdef | json }}</pre>
</div>
