<form name="watchlistcreate" ng-submit="savewatchlist()">
  <div layout="column" layout-sm="column" layout-xs="column" layout-padding class="watchlistlayout">
    <div layout="row"  layout-sm="column" layout-xs="column">
      <md-input-container flex="50">
        <label>Watch List Name</label>
        <input ng-required="true" name="watchlistName" flex="90" type="text" ng-model="wlstdef.name">
        <div flex layout-align="right" ng-messages="watchlistcreate.watchlistName.$error" class="error" id="myerr" role="alert">
          <div ng-message-exp="['required']">
            WatchList Name is required
          </div>
        </div>
      </md-input-container>
      <md-input-container flex="50">
        <label>Purpose</label>
        <input ng-required="true" name="watchlistPurpose" flex="100" type="text" ng-model="wlstdef.description">
        <div flex layout-align="right" ng-messages="watchlistcreate.watchlistPurpose.$error" class="error" id="myerr" role="alert">
          <div ng-message-exp="['required']">
            WatchList Purpose is required
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column">
      <div id="watchListnamespace" ng-controller="namespacectrl as ctrl" flex="20">
        <md-autocomplete
        required
        md-input-name="atoCmpNmsp"
        md-input-minlength="1"
        ng-disabled="ctrl.isDisabled"
        md-no-cache="ctrl.noCache"
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item"
        md-min-length="0"
        placeholder="Select Namespace">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <div ng-messages="watchlistcreate.atoCmpNmsp.$error" ng-if="watchlistcreate.atoCmpNmsp.$touched">
          <div ng-message="required">This field is required</div>
        </div>
        <md-not-found>
          No namespace matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
    </div>
    <div id="watchListnamespace" ng-controller="Streamctrl as ctrl1" flex-offset="5" flex="20">
      <md-autocomplete
      required md-input-name="atoCmpStream"
      ng-disabled="ctrl1.isDisabled"
      md-no-cache="ctrl1.noCache"
      md-selected-item="ctrl1.selectedItem"
      md-search-text-change="ctrl1.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl1.searchText"
      md-selected-item-change="ctrl1.selectedItemChange(item)"
      md-items="item in ctrl1.querySearch(ctrl.searchText)"
      md-item-text="item"
      md-min-length="0"
      placeholder="Select Data Stream">
      <md-item-template>
        <span md-highlight-text="ctrl1.searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
      <div ng-messages="watchlistcreate.atoCmpStream.$error" ng-if="watchlistcreate.atoCmpStream.$touched">
        <div ng-message="required">This field is required</div>
      </div>
      <md-not-found>
        No matching "{{ctrl1.searchText}}" was found.
      </md-not-found>
    </md-autocomplete>
  </div>
</div>
<div></div>

<!-- =============================== STARTING TO LOOP ==================================== --->
<div class="watchListnamespace" ng-repeat-start="expr in wlstdef.expressions">
  <md-whiteframe class="md-whiteframe-3dp" layout flex="100">
    <!-- <div class="flex container" layout="row" > -->
<div layout="column" flex="50">
    <div class="lfieldwatchlist watchlistAutoComplete" ng-controller="lfield as ctrl">
      <md-autocomplete flex-offset="5" flex="90"
      required md-input-name="atoCmpLfield"
      ng-disabled="ctrl.isDisabled"
      md-input-name="autocompleteForlfieldwatchlist"
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item, expr)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item.name"
      md-min-length="0"
      placeholder="Select LField"
      md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span class="item-title">
          <md-icon class="material-icons">{{item.icon}}</md-icon>
          <span> {{item.name}} </span>
        </span>
        <span class="item-metadata">
          <span class="item-metastat">
            FORMULA : <strong>{{item.shortexpr}}</strong>
          </span>
          <span class="item-metastat">
            {{item.tip}}
          </span>
        </span>
      </md-item-template>
    <md-not-found>
      No LField option matching "{{ctrl.searchText}}" were found.
    </md-not-found>
  </md-autocomplete>
</div>
<div class="operatorwatchlist" ng-controller="operator as ctrl">
  <md-autocomplete
  flex-offset="5" flex="5"
  required md-input-name="atoCmpOperator"
  ng-disabled="ctrl.isDisabled"
  md-no-cache="ctrl.noCache"
  md-selected-item="ctrl.selectedItem"
  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
  md-search-text="ctrl.searchText"
  md-selected-item-change="ctrl.selectedItemChange(item,expr)"
  md-items="item in ctrl.querySearch(ctrl.searchText)"
  md-item-text="item"
  md-min-length="0"
  placeholder="Operator">
  <md-item-template>
    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
  </md-item-template>
<md-not-found>
  No operator matching "{{ctrl.searchText}}" were found.
</md-not-found>
</md-autocomplete>
</div>
<div class="rfieldwatchlist" ng-controller="rfield as ctrl">
  <md-autocomplete
        flex-offset="5" flex="90"
  required md-input-name="atoCmpRfield"
  ng-disabled="ctrl.isDisabled"
  md-input-name="autocompleteForrfieldwatchlist"
  md-no-cache="ctrl.noCache"
  md-selected-item="ctrl.selectedItem"
  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
  md-search-text="ctrl.searchText"
  md-selected-item-change="ctrl.selectedItemChange(item,expr)"
  md-items="item in ctrl.querySearch(ctrl.searchText)"
  md-item-text="item.name"
  md-min-length="0"
  placeholder="RField"  md-menu-class="autocomplete-custom-template">
    <md-item-template>
      <span class="item-title">
        <md-icon class="material-icons">{{item.icon}}</md-icon>
        <span> {{item.name}} </span>
      </span>
      <span class="item-metadata">
        <span class="item-metastat">
          FORMULA : <strong>{{item.shortexpr}}</strong>
        </span>
        <span class="item-metastat">
          {{item.tip}}
        </span>
      </span>
    </md-item-template>
  <md-item-template>
    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
  </md-item-template>
<md-not-found>
  No namespace matching "{{ctrl.searchText}}" were found.
</md-not-found>
</md-autocomplete>
</div>
</div>
<div layout="column" flex="50">
<div flex="80" class="preview" spellcheck="false">
  <span style="color:#A6E22E">{{expr.watch.lfield.exprAsText}}</span>
  <span style="color:red">{{expr.watch.operator}}</span>
  <span style="color:rgb(0, 255, 255)">{{expr.watch.rfield.exprAsText}}</span>
</div>
</div>
</md-whiteframe>
<!--- ========================== END OF LOOPING EXPRESSIONS ========================================= -->
</div> <!-- end of ng repeat start for "stmt in wlstdef.statements -->
<div ng-repeat-end>
  <md-button class="md-raised md-mini" ng-click="removeExpression($index);" aria-label="">Remove</md-button>
  <md-button class="md-raised md-mini" ng-show="wlstdef.expressions.length>1 && !$last" ng-click="addNewExpression($index);" aria-label="">ADD</md-button>

  <md-divider ng-class="{'last':$last}" class="vertical-divider"></md-divider>
  <div  layout="row" layout-align="start center" flex>
<md-button style="text-align:left" class="md-raised">Join With {{expr.tag}}</md-button>
    <span  flex></span>
  </div>
</div>


  <!-- <md-menu ng-controller="actionButtonCtrl as ctrl" ng-class="{'last':$last}">
    <md-button class="md-fab md-mini md-primary actionButton" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
      <md-icon md-font-icon="fa fa-cog fa-spin fa-2x"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button>Pipe</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>Filter</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu> -->

<md-button id="watchlistpadding" class="md-raised" aria-label=""  ng-click="addNewExpression()">Add Expression</md-button>
</div>

<div layout="row" class="publishlayout" flex-offset="10">
  <div flex="10" hide-xs hide-sm hide-md>
    <md-subheader>Manage output publishing</md-subheader>
  </div>

  <div id="watchListnamespace"  ng-controller="output as ctrl1" flex="40">
    <md-autocomplete flex-offset="5" flex="80"
    required md-input-name="atoCmpOutput"
    ng-disabled="ctrl1.isDisabled"
    md-no-cache="ctrl1.noCache"
    md-selected-item="ctrl1.selectedItem"
    md-search-text-change="ctrl1.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl1.searchText"
    md-selected-item-change="ctrl1.selectedItemChange(item)"
    md-items="item in ctrl1.querySearch(ctrl.searchText)"
    md-item-text="item"
    md-min-length="0">
    <md-item-template>
      <span md-highlight-text="ctrl1.searchText" md-highlight-flags="^i">{{item}}</span>
    </md-item-template>
    <div ng-messages="watchlistcreate.atoCmpOutput.$error" ng-if="watchlistcreate.atoCmpOutput.$touched">
      <div ng-message="required">This field is required</div>
    </div>
    <md-not-found>
      No namespace matching "{{ctrl1.searchText}}" were found.
    </md-not-found>
  </md-autocomplete>
</div>
</div>

<div class="watchlistlayout">
  <md-button type="submit" class="md-raised md-primary">Save</md-button>
  <md-button class="md-raised">Cancel</md-button>
</div>
</form>
<div class="jsonStructure">
  <md-checkbox ng-model="isViewAsJSON">View as JSON Structure</md-checkbox>
  <pre class="jsonStructureExpression" ng-show="isViewAsJSON">{{wlstdef | json }}</pre>
</div>
