<div class="shad">
  <div class="pray">{{myresult.wlid}}</div>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Graph">
      <!-- <mygraph type="myresult.charttype"></mygraph> -->
      <!-- <div ng-include src="getChartTemplate()"></div> -->
      <div ng-include src="'/design/watchlists/template/' + myresult.charttype + '.html'"></div>
    </md-tab>
    <md-tab label="log Data">
      <div ng-include src="'/design/watchlists/template/' + myresult.datatype + '.html'"></div>
    </md-tab>
    <md-tab label="Execution Flow">
      <flow></flow>
    </md-tab>
  </md-tabs>
  <md-divider></md-divider>
  <!-- <div layout="column" flex="33" flex-sm="100" layout-align="right">
  <md-menu md-offset="0 -4">
  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
  <ng-md-icon icon="more_horiz" ng-click="openMenu()" size="30"></ng-md-icon>
</md-button>
<md-menu-content width="3" ng-controller="gotoWatchlist">
<md-button ng-click="">Add Slide</md-button>
<md-button ng-click="edit_watchlist()">Edit WatchList</md-button>
</md-menu-content>
</md-menu>
</div> -->
</div>
