<md-dialog class="outputDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Watchlist - UI Publish</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form layout-padding ng-submit="updateBackPublisher(Data)">
        <div layout="row" layout-wrap flex >
          <label flex="30"><md-subheader>Watch Display Size</md-subheader></label>
          <md-radio-group ng-model="publisherData.displaySize" flex="70">
            <div layout="row">
              <md-radio-button ng-repeat="widgetSize in uiPublisherConfig.widgetSizes" value="{{widgetSize.value}}" class="md-primary" flex="35">
                {{widgetSize.name}}
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="20"><md-subheader>Watch Tabs</md-subheader></label>
          <div layout="row" flex="80" layout-wrap>
            <div class="leftpadding" ng-repeat="tab in widgetTabs">
              <md-checkbox ng-model="tab.selected" value="{{tab.value}}" layout="row">
                {{ tab.name }}
              </md-checkbox>
            </div>
          </div>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="30"><md-subheader>Watch Graph type</md-subheader></label>
          <md-radio-group ng-model="publisherData.graphType" flex="70">
            <div layout="row">
              <md-radio-button ng-repeat="graphTypes in uiPublisherConfig.graphTypes" value="{{graphTypes.value}}" class="md-primary" flex="50">
                <md-icon class="material-icons">{{graphTypes.icon}}</md-icon>
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="35"><md-subheader>Watch Log Data Display Type</md-subheader></label>
          <md-radio-group ng-model="publisherData.logFormat" flex="65">
            <div layout="row" layout-wrap>
              <md-radio-button class="leftpadding md-primary" ng-repeat="displayTypes in uiPublisherConfig.logDataDisplayType" value="{{displayTypes.value}}" class="md-primary">
                {{displayTypes.name}}
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary">OK</md-button>
      </md-dialog-actions>
    </form>
  </div>
</md-dialog>
