<md-dialog class="outputDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Watchlist - UI Publish</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form layout-padding ng-submit="updateBackPublisher(Data)">
        <div layout="row" layout-wrap>
          <div layout="row" flex="25">
            <label class="md-subheader">
              Watch Display Size
            </label>
          </div>
          <md-radio-group ng-model="publisherData.displaySize" flex="75">
            <div layout="row" layout-wrap>
              <div ng-repeat="widgetSize in uiPublisherConfig.widgetSizes" flex-offset="5">
                <md-radio-button value="{{widgetSize.value}}" class="md-primary" ng-required="true" >
                  {{widgetSize.name}}
                </md-radio-button>
              </div>
            </div>
          </md-radio-group>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-wrap flex >
          <label flex="25" class="md-subheader">Watch Tabs</label>
          <div layout="row" flex="75" layout-wrap>
            <div ng-repeat="tab in widgetTabs" flex-offset="5">
              <md-checkbox ng-model="tab.selected" value="{{tab.value}}" layout="row" ng-required="true">
                {{ tab.name }}
              </md-checkbox>
            </div>
          </div>
        </div>
        <div flex-offset="20" layout="row">
          <div>
            <md-input-container flex>
              <md-select ng-model="publisherData.xaxis" required>
                <label>X Axis</label>
                <md-option ng-repeat="object in xParam">{{object}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex="20">
          </div>
          <div>
            <md-input-container class="watchlistcheckbox" flex>
              <label>Y Axis</label>
              <md-select ng-model="publisherData.yaxis" multiple required>
                <md-optgroup>
                  <md-option ng-repeat="object in xParam">
                    <span>{{object}}</span>
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-wrap>
        <div layout="row" flex="25">
            <label class="md-subheader">
              Watch Graph type
            </label>
          </div>
          <md-radio-group ng-model="publisherData.graphType" flex="75">
            <div layout="row" layout-wrap>
              <div ng-repeat="graphTypes in uiPublisherConfig.graphTypes" flex-offset="5">
                <md-radio-button value="{{graphTypes.value}}" class="md-primary" ng-required="true" >
                  <md-icon class="material-icons">{{graphTypes.icon}}</md-icon>
                </md-radio-button>
              </div>
            </div>
          </md-radio-group>
        </div>

        <md-divider></md-divider>
        <div layout="row" layout-wrap>
          <div layout="row" flex="25">
            <label class="md-subheader">
              Watch Log Data Display Type
            </label>
          </div>
          <md-radio-group ng-model="publisherData.logFormat" flex="75">
            <div layout="row" layout-wrap>
              <div ng-repeat="displayTypes in uiPublisherConfig.logDataDisplayType" flex-offset="5">
                <md-radio-button class="md-primary" value="{{displayTypes.value}}" class="md-primary" ng-required="true" >
                  {{displayTypes.name}}
                </md-radio-button>
              </div>
            </div>
          </md-radio-group>
        </div>
        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
          <md-button type="submit" class="md-raised md-primary">OK</md-button>
        </md-dialog-actions>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>
