<!-- <md-dialog style="width:600px;"  ng-controller="publisherCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Watchlist - UI Publish</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form layout-padding ng-submit="save(data)">

        <div layout="row" layout-wrap flex >
          <label flex="30"><md-subheader>Watch Display Size</md-subheader></label>
          <md-radio-group ng-model="uiPublisher_widgetSize" flex="70">
            <div layout="row">
              <md-radio-button ng-repeat="widgetSize in uiPublisherConfig.widgetSizes" value="{{widgetSize.value}}" class="md-primary" flex="35">
                <i class="{{widgetSize.icon}}" aria-hidden="true"></i>
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="20"><md-subheader>Watch Tabs</md-subheader></label>
          <div layout="row" flex="80" layout-wrap>
            <md-checkbox ng-repeat="tab in uiPublisherConfig.widgetTabs" ng-model="tab.selected" value="{{tab.name}}" layout="row">
              {{ tab.name }}
            </md-checkbox>
          </div>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="30"><md-subheader>Watch Graph type</md-subheader></label>
          <md-radio-group ng-model="uiPublisher_graphTypes" flex="70">
            <div layout="row">
              <md-radio-button ng-repeat="graphTypes in uiPublisherConfig.graphTypes" value="{{graphTypes.value}}" class="md-primary" flex="50">
                <i class="{{graphTypes.icon}}" aria-hidden="true"></i>
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>

        <md-divider></md-divider>

        <div layout="row" layout-wrap flex >
          <label flex="50"><md-subheader>Watch Log Data Display Type</md-subheader></label>
          <md-radio-group ng-model="uiPublisher_logDataDisplayType" flex="50">
            <div layout="row" layout-wrap>
              <md-radio-button ng-repeat="displayTypes in uiPublisherConfig.logDataDisplayType" value="{{displayTypes.value}}" class="md-primary" flex="50">
                {{displayTypes.name}}
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>

      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary">Save</md-button>
        <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
      </md-dialog-actions>

    </form>
  </div>
</md-dialog> -->


<md-dialog style="width:600px;" style="padding: '30px';">
  <md-dialog-content>
    <form layout-padding>
    {{publisherData | json }}
    <div>
    <md-input-container>
      <label>Widget Size</label>
      <input type="text" ng-model="publisherData.widgetSize">
    </md-input-container>
  </form>
</div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="updateBackPublisher()">Ok</md-button>
    <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>
