    <form layout-padding ng-submit="updateBackPublisher(Data)">
<md-dialog style="width:600px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Save to Database</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row" layout-sm="column" layout-xs="column" layout-padding>
      <div>
        <label>Name of the watchlist</label>
      </div>
      <div>
        <input ng-required="true" type="text" value="{{dbName}}" readonly="true">
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button type="submit" class="md-raised md-primary">OK</md-button>
  </md-dialog-actions>
</md-dialog>
</form>
