<div ng-show="watchlistalldata.length!=0" class="viewInst">
  <md-subheader class="md-primary md-title" flex-offset="5">Watchlist from {{filternamespace}}</md-subheader>
  <md-divider></md-divider>
  <div layout-padding layout-margin ng-init="getwatchlistdata(objectJson)">
    <md-grid-list md-cols="3" md-row-height="120px">
      <md-grid-tile  flex ng-repeat="object in watchlistalldata track by $index">
        <md-button layout-padding ui-sref="design.viewdata( { watchlistName: '{{object}}' })" layout="column" flex>
          <ng-letter-avatar fontSize="20" data={{object}} shape="round" avatarcustombgcolor="#875E6A" charCount="2"></ng-letter-avatar>
          <md-card-title-text flex><label>{{object}}</label></md-card-title-text>
        </md-button>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
<div ng-show="watchlistalldata.length==0" flex class="noSubscriberinst listInst">
  <div layout-align="start" >
    <h2>You are yet to create a Watch or Watchlist</h2>
    <p>Watchlist constructs and applies series of expressions for analyzing data</p>
    <md-button class="md-raised md-primary" ui-sref="design.createwatchlist">Create</md-button>
  </div>
</div>
