<div class="shad" flex="100">
    <div class="pray" flex="100" style="background-color: rgba(158,158,158,0.2);">{{watchdefn.name | camelcase}}
        <md-icon class="material-icons  float-right" style="padding-left:70px; cursor:pointer" ui-sref="design.viewdata({watchlistName: '{{watchdefn.name}}'})">create</md-icon>
    </div>
    <div>
        <md-tabs md-dynamic-height md-border-bottom>
            <div ng-repeat="tab in watchdefn.publishers.dashboard.tabs">
                <md-tab label="{{tab}}">
                    <div ng-include src="'/design/watchlists/template/' + tab + '.html'"></div>
                </md-tab>
            </div>
        </md-tabs>
    </div>
    <md-divider></md-divider>
    <ng-transclude></ng-transclude>
</div>
