 <!-- @todo data coming from public/json/watchlist change it -->
<style>
.listInstance md-toolbar{
background-color: #cfcfd6;
}
.namespace{
padding-left: 20px;
}
</style>

<div ng-controller="namespacebasedwatchlist">
<div ng-include src="'/design/designhome/template/subTitleTab.html'"></div>
  <div class=""></div>
 <div layout="row" ng-init="loadData()">
  <div layout="row" flex="30">
    <md-content flex>
      <md-list flex="">
        <md-content  class="listmenu" flex="80">
          <md-list-item  class="md-2-line" ng-click="null" ng-show="data.length" ng-repeat="object in data track by $index">
            <md-item-content ui-sref="design.watchlist.viewwatchlist({namespaceobject : '{{object}}' })" layout="row">
              <div class="md-list-item-text md-tile-left inset" flex="30">
                <ng-letter-avatar data={{object}} shape="round" avatarcustombgcolor="#339933" charCount=2></ng-letter-avatar>
              </div>
              <div class="namespace" flex class="md-tile-content" layout-padding flex="70">
                <h4>{{object}}</h4>
              </div>
             </md-item-content>
            <md-divider></md-divider>
          </md-list-item>
        </md-content>
      </md-list>
    </md-content>
  </div>
<div ui-view flex="70"></div>
</div>
</div>
