<md-dialog style="width:600px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Watchlist Manager</h2>
    </div>
  </md-toolbar>
  <form layout-padding ng-submit="updateBackPublisher(Data)">
    <md-dialog-content>
      <div layout="column" layout-sm="column" layout-xs="column" layout-padding>
        <div>
          <label>Your watchlist "{{watchlistName}}" has been saved.</label>
        </div>
        <div>
          <label>Do you want to Run Watchlist?</label>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">NO</md-button>
      <md-button type="submit" class="md-raised md-primary">YES</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
