<div flex ng-controller="createNamespaceCtrl" ng-cloak id="popupContainerNamespace" layout-padding class="createNamespacePage">
  <form name="createNameSpace" ng-submit="createNamespaceSubmit($event)" novalidate>
    <fieldset class="fieldsetNamespace" ng-disabled="editData && editNamespaceFlag">

      <div layout="column" layout-padding flex>
        <div  flex layout>
          <md-input-container flex="45" >
            <label>Name of NameSpace</label>
            <input type="text" ng-model="nameSpace.name" name="name" ng-minlength="3" ng-maxlength="20" ng-disabled="editData" required>
            <div ng-messages="createNameSpace.name.$error">
              <p ng-message="required">This is required.</p>
              <p ng-message="minlength">Namespace name is too short.</p>
              <p ng-message="maxlength">Namespace name is too long.</p>
            </div>
          </md-input-container>
          <div flex></div>
          <md-input-container flex="45">
            <textarea class="textarea" ng-model="nameSpace.description" name="description" type="textarea" placeholder="Description" required></textarea>
            <div ng-messages="createNameSpace.description.$error">
              <p ng-message="required">This is required.</p>
            </div>
          </md-input-container>
        </div>
        <div flex layout layout-align="center center" >
          <label class="md-title" layout flex="35">Define DataSchema for NameSpace</label>
        </div>
        <div flex></div>
        <div  flex layout>
          <div ng-if="!uploadJSONFlag" flex="55">

            <div layout="column" layout-align="center center" ng-if="parsingError" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              <md-subheader>Parsing...</md-subheader>
            </div>
            <div layout="column" flex ng-repeat="dataFormatObj in nameSpace.dataSchema">
              <div layout="row">
                <md-input-container>
                  <label>{{nameSpace.dataSchema.indexOf(dataFormatObj)+1}}.</label>
                </md-input-container>
                
                <md-input-container flex="20" flex-offset="5">
                  <label>Alias</label>
                  <input type="text" ng-model="dataFormatObj.alias" ng-change="watchChanges()" name="fieldAlias" value={{}} required>
                  <div ng-messages="createNameSpace.fieldAlias.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex-offset="5" flex="25">
                  <label>Data Field Name</label>
                  <input type="text" ng-model="dataFormatObj.name" ng-change="watchChanges()" name="fieldName" ng-pattern="/^\S*$/" required>
                  <div ng-messages="createNameSpace.fieldName.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">Space is not allowed in name.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="25" flex-offset="5">
                  <label>Sample Data</label>
                  <input type="text" ng-model="dataFormatObj.sample" ng-change="watchChanges()" name="fieldSample" required nanError>
                  <div ng-messages="createNameSpace.fieldSample.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex></div>
                <div>
                  <md-button class="float-right md-raised md-fab md-mini greyBackground" ng-click="deleteDataFormat($index); watchChanges()" aria-label="delete format"><md-icon><i class="material-icons">&#xE15B;</i></md-icon></md-button>
                </div>
              </div>
              <div layout="row" flex>
                <md-input-container flex="5">
                  <md-radio-group layout="row" ng-model="dataFormatObj.type" ng-change="watchChanges()" class="md-primary" required >
                    <md-radio-button value="dimension" ng-disabled="editData && editNamespaceFlag"><md-tooltip md-direction="top">Dimension</md-tooltip><i id="dimensions" class="material-icons">&#xE84D;</i></md-radio-button>
                    <md-radio-button value="measure" ng-disabled="editData && editNamespaceFlag"><md-tooltip md-direction="top">Measure</md-tooltip><i id="measure" class="material-icons">&#xE41C;</i></md-radio-button>
                    <md-radio-button value="time" ng-disabled="editData && editNamespaceFlag"><md-tooltip md-direction="top">Time</md-tooltip><i id="time" class="material-icons">&#xE01B;</i></md-radio-button>
                  </md-radio-group>
                </md-input-container>
              </div>
            </div><!--ng repeat div-->
            <div flex>
              <md-button class="float-right md-raised md-fab md-mini greyBackground" ng-click="addDataFormat()"><md-icon><i class="material-icons">&#xE145;</i></md-icon></md-button>
            </div>
          </div>
          <div flex></div>
          <md-divider></md-divider>
          <div flex></div>

          <div layout-align="right right" layout="column" flex="40">
            <textarea class="uploadJSONFormat preview2 md-body-2" placeholder="Paste Sample Data JSON format here" ng-click="hideError()" ng-change="uploadJSON(nameSpace.uploadJSONText);restructureTextArea();" name="JSONFormat" ng-model="nameSpace.uploadJSONText" required></textarea>
            <div ng-messages="createNameSpace.description.$error">
              <p id="errorField" ng-model="parsingError">{{parsingError}}</p>
            </div>
            <md-input-container>
              <md-button class="float-right md-raised" ng-click="uploadJSON(nameSpace.uploadJSONText);restructureTextArea();" class="md-raised">Parse</md-button>
            </md-input-container>
          </div>
        </div>
      </fieldset>

      <div layout layout-align="center center" >
        <md-button class="md-raised" ng-click="createNamespaceCancel()" ng-if="editData && editNamespaceFlag">Cancel</md-button><!--view namespace-->
        <md-button class="md-raised" ng-click="showConfirm($event)" ng-if="editData && !editNamespaceFlag">Cancel</md-button><!--edit namespace-->
        <md-button class="md-raised" ng-click="showConfirm($event)" ng-if="!editData">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-if="!editData">Create</md-button>
        <md-button class="md-raised md-primary" ng-click="editNamespacetoggle()" ng-if="editData && editNamespaceFlag" >Edit</md-button>
        <md-button type="submit" class="md-raised md-primary"  ng-if="editData && !editNamespaceFlag">Save</md-button>
      </div>
    </div>
  </form>
</div>
