<md-dialog class="dialogname">
    <md-toolbar>
        <div layout="row">
            <h2 class="json">View Json Data</h2>
            <md-icon class="material-icons float-right" ng-click="cancelDialog()">clear</md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout>
            <pre layout-align="center center" class="datajson" ng-repeat="data in nameSpace ">{{data|json}}</pre></div>
        <md-button class="md-raised float-right " type="button " ng-click="cancelDialog() ">ok</md-button>
    </md-dialog-content>
</md-dialog>
