<div layout="row" flex class="noSubscriber" layout-align="center center" ng-if="!nameSpaceListdata.length">
  <div  flex layout-padding layout-margin layout-align="start">
    <h2>Create Namespace</h2>
    <p>Namespace list is empty. Click on the below button to create a namespace.</p>
    <md-button class="md-raised md-primary" ui-sref='design.createNamespace'>Create</md-button>
  </div>
</div>

<div ng-init="$scope.nameSpaceListdata = namespaceFactory.getNameSpace()" ng-if="nameSpaceListdata.length">
  <div>
    <md-toolbar >
      <div class="md-toolbar-tools">
        <h2>
          <span>Namespaces</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-fab md-mini" aria-label="Favorite" ui-sref="design.createNamespace">+</md-button>
      </div>
    </md-toolbar>
  </div>

  <md-content flex>
    <div layout-padding layout-margin flex>
      <div layout-padding layout-margin ng-init="loadData()">
        <md-grid-list md-cols="6" md-row-height="180px" md-gutter="12px" >
          <md-grid-tile ng-repeat="object in nameSpaceListdata" layout layout-padding layout-margin flex>
            <md-card>
              <a ui-sref="design.editNamespace({editNamespaceData: '{{object.name}}'})">
              <md-card-title layout-padding>
                <md-card-title-media><ng-letter-avatar data={{object.name}} shape="round" avatarcustombgcolor="#339933" charCount="2"></ng-letter-avatar></md-card-title-media>
                <md-card-title-text><h3>{{object.name}}</h3></md-card-title-text>
              </md-card-title></a>
              <md-card-content><p> Number of datafields: {{object.dataformat.length}}</p></md-card-content>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </md-content>
</div>
