<div flex ng-class="classSelect()" ng-cloak>
  <form name="createNameSpace" novalidate>
    <div layout="column" layout-padding flex>
      <md-whiteframe class="md-whiteframe-1dp" flex layout="column">
        <div  flex layout>
          <md-input-container flex="30" >
            <label>Name of NameSpace</label>
            <input type="text" ng-model="editNameSpace.name" name="name" ng-disabled="editNamespaceFlag" required>
          </md-input-container>
        </div>
        <div  flex layout>
          <md-input-container flex="30" >
            <textarea class="textarea" ng-model="editNameSpace.description" type="textarea" placeholder="Description" ng-disabled="editNamespaceFlag"></textarea>
          </md-input-container>
        </div>
        <md-input-container flex layout>
          <label><b>Data schema for NameSpace</b></label>
        </md-input-container><br><br>
        <div layout="row" flex ng-repeat="dataFormatObj in editNameSpace.dataformat">
          <md-input-container flex="20" >
            <label>Name</label>
            <input type="text" ng-model="dataFormatObj.fieldAlias" ng-disabled="editNamespaceFlag" required>
          </md-input-container>
          <md-input-container flex-offset="5" flex="20" >
            <label>Field Name</label>
            <input type="text" ng-model="dataFormatObj.fieldName" ng-disabled="editNamespaceFlag" required>
          </md-input-container>
          <md-input-container flex-offset="5" flex="8" >
            <md-radio-group ng-model="dataFormatObj.fieldType" class="md-primary" ng-disabled="editNamespaceFlag" required>
              <md-radio-button value="dimension" ng-disabled="editNamespaceFlag">Dimension (differentiates data)</md-radio-button>
              <md-radio-button value="measure" ng-disabled="editNamespaceFlag">Measure (measurable field)</md-radio-button>
            </md-radio-group>
          </md-input-container>
          <div>
            <md-button class="md-fab md-primary md-mini" ng-click="delete($index)" ng-disabled="false" ng-if="!editNamespaceFlag">-</md-button>
          </div>
        </div><!--ng repeat div-->
      </md-whiteframe>
      <div layout layout-align="center center" ng-if="!editNamespaceFlag" >
        <md-button class="md-raised md-primary" ng-click="saveNamespace()" >Save</md-button>
        <md-button class="md-raised md-primary" ng-click="saveNamespace()" ui-sref="design.namespace">Cancel</md-button>
      </div>
      <div layout layout-align="center center" ng-if="editNamespaceFlag">
        <md-button class="md-raised md-primary" ng-click="editNamespacetoggle()" >Edit</md-button>
        <md-button class="md-raised md-primary" ng-click="editNamespacetoggle()" ui-sref="design.namespace">Cancel</md-button>
      </div>
    </div>
  </form>
</div>
