.instanceDialog{

   padding:5%;
  margin-left:15%;

}

.listmenu{
overflow: scroll;
overflow-x:hidden;
max-height: 453px !important;

-webkit-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}

.viewInst .md-button{
  text-transform: none;
}
.listInst{
 max-height: 453px !important;
}


.instance md-input-container,.instanceDialog md-input-container{

    height:3em;
}
.detail button{
  min-width:30px !important;
  min-height:10px !important;
  border-radius: 99%;
}
.detail md-icon{
  width:10px !important;
   height:10px !important;

}

.viewInst md-list md-list-item.md-3-line .md-list-item-text h3{
 font-family: 'Open Sans';
    font-size: 12pt;
    font-weight:bold;
  }
.viewInst md-list md-list-item.md-3-line .md-list-item-text p{
  font-family: 'Open Sans';
  font-size:9pt;
}
/*.viewInst md-subheader{
  height:30px;
}*/
.envelop {
    margin: 10px;
    padding: 10px;
}
#plus
{
  float: right;
}
.heading
{
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

/*begin -- This Style sheet used in the public/partials/login_reg.html by surya sah*/

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }
.listdemoListControls md-list {
  padding-top: 0; }
.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.imgbg1 {
  height: 100px;
  width: 100px;
  padding-top: -10px;
  position: absolute;
}

.imgbg {
  height: 85px;
  width: 85px;
  position: absolute;
}

.set1{
  padding-top: 30px;
}

.usrListContainer{
  padding:50px;
  margin: 180px;
  border: 1px solid blue;
}
.user-avatar {
  border-radius: 99%;
}

#edit1 {
  text-decoration: none;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;
}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}

.editable-click, a.editable-click {
     text-decoration: none;
     color: #000000;
     border-bottom: none;
}


/*Style sheet is ended of  public/partials/login_reg.html by surya sah*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font: 14px;
  font-size: auto;
  margin: auto;
}
.fix
{
  height: 250px;
}
.shad:hover
{
    box-shadow:  0px 0px 30px 0px #737373;
}
.shad
{
    height:455px;
      border:1px solid #cfcfd6;
}
.pray
{
  background-color:#eaeaed;
  height: 60px;
  font-size: 24px;
  padding-left: 10px;
}
button{
    cursor: pointer;
    float: right;
}
.flexcontainer {
	display: -webkit-flex;
		display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap:wrap;
 flex-wrap: wrap;
 background-color:  #f8f8f9;
}
.flex-item
{
width:47%;
 padding: 15px;
}

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick
{
  stroke-dasharray: 1, 2;
}


/* Pooja Style sheet*/


.whiteframedemoBasicClassUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
.mytabs{
  padding:0;
  width:40%;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);


/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
background: -moz-linear-gradient(top, white 0%, white 55%, #009688 130%);
-moz-border-radius: 7px;
border-radius: 7px;
}

.mytabs md-tabs.tabs.ng-isolate-scope.md-dynamic-height.flex{
  padding:0;

}
#fp{
  font-size:9pt;
}
.inputdemoIcons md-content{
    width:100%;
   height:100%;
  overflow:hidden;

}
#cb{
  color:#607D8B;
  font-size:10pt;
}
.bottom{
  margin-bottom:0;
}

.ar{
  margin:0;
  margin-top:5px;
  text-align:center;
}
#sign{
  font-size:12pt;
}
#reg{
  background-color:#00695C;
  width:80%
}
.bottom p{
  color:#4E342E;
    font-size:16pt;
  font-weight:bold;
  font-family:monospace;
}
.whiteframedemoBasicClassUsage .mic{
  height:30px;
}

.whiteframedemoBasicClassUsage md-input-container .ng-pristine{
  width:95%;
}


.inputdemoIcons md-icon{
width:16px !important;
  height:16px !important;
}

  .whiteframedemoBasicClassUsage md-whiteframe {
    background: #fff;
   width:450px;;

    height: 600px;
    margin:auto;
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #fff));
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -moz-linear-gradient(top, white 0%, white 55%, #fff 130%); }


  @media (max-width: 599px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 7px;
      height: 550px;
      background-color: #c8e4fa; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
                height: 550px; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
      height: 550px;
      background-color: #fcddde; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 25px;
      background-color: #F2FCE2; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 1.0em; } }
.inputdemoIcons .inputIconDemo {
    min-height: 48px; }



/*
Login  whiteframe css
*/

.whiteframedemoBasicClassUsage .login {
    background: #fff;
    width:450px;
    height: 300px;
    margin:auto;
    margin-top: 20px;
  }


    #inside{
      margin:20px;
    }

 md-input-container label {

text-transform: uppercase;
font-size: 9pt;
}

.error{
  text-align:right ;
  padding-right:8px;

}


.mytabs md-input-container input{
  font-size:11pt;
  font-family:sans-serif;
  font-weight: normal;
  color:#262626;
}
.mytabs md-input-container .md-errors-spacer{
  min-height: 0px;
  min-width: 0px;
}

.mytabs md-tabs md-ink-bar{
  color:rgb(121,134,203);
background-color:   rgb(121,134,203);
}

md-input-container.md-input-invalid [ng-message-exp] {
    color: grey;
    text-align: right;
}

.msg-error{
  font-size:9pt;
  color:grey;
  text-align:right;
}

.label label{
margin-left:8%;
font-size:9pt;
color:#737373;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;

}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%;
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}



/*ui-router css*/

.designbody {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.designbody md-content {
  background-color: transparent !important;
 }
.designbody md-content md-tabs {

    border: 1px solid #e1e1e1; }

 .designbody md-content md-tabs md-tabs-wrapper {
      background-color:teal;}
 .designbody md-tabs .md-tab{
  color:white;
}



md-tab-content {
  padding: 25px;
}
md-tabs.md-accent > md-tabs-wrapper{
  background-color: #00BFFF;
}
md-tab-content:nth-child(1) {
  background-color: white;
}
md-tab-content:nth-child(2) {
  background-color:	white;
}
md-tab-content:nth-child(3) {
  background-color:	white;
}
#createNameSpaceInputBtn{
  margin-left: 25%;
}
#createNameSpaceInputBtn button{
  background-color: teal;
}
/*#createNamespaceTable{
  border:1px solid grey;
}*/

/*md-content md-tabs md-tabs-wrapper {
  background-color:teal;
}
md-tabs .md-tab{
  color:white;
}*/

#tabView{
  /*background-color: #D4E8BE;*/
  border:1px solid #e1e1e1;
  /*height:300px;*/
}


#noSubscriber{
  background:#e1e1e1;
  text-align: center;
  height: 600px;
}

a {
  color: #FFFFF;
  text-decoration: none;
}
#add{
  color:white!important;
}
#namespace{
margin-top: 2px;
}
  .designbody md-tabs .md-tab.md-active{
   color: #d1d1d1;
   /*border:1px solid #e1e1e1; */
 }
 #tabView{
   /*background-color: #D4E8BE;*/
   border:1px solid #e1e1e1;
   /*height:300px;*/
 }


 #noSubscriber{
   background:#e1e1e1;
   text-align: center;
 }


.viewDiv{
  height:300px;
}


#fieldType{
  padding-top:12px;
}
.createNameSpaceTable{
  background-color:teal;
}

#nameSpaceTable{
  /*display:none;*/
  border:1px solid grey;
}


/*table {
  border: 1px solid #D0D3DA;
  margin: auto;
  width:10%;
}*/

table#nameSpaceTable th {
  text-transform: uppercase;
  text-align:center;
}

table#nameSpaceTable tr {
  text-align:center;
}

table#nameSpaceTable td {
  text-transform: capitalize;
  text-align:center;}



#output{
  margin-top: 7em;

}

#on
{
  padding-top: 10px;
}
.outerDiv{
  width: 550px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}


md-input-container label{
  text-transform: uppercase;
  font-size: 9pt;
}
 md-dialog{
  min-width:50%;
 }

/* search box*/
.searchbox .md-button{
  min-width:50px;
}
.searchbox md-input-container input{
  font-size: 11pt;
}
.searchbox md-input-container .md-errors-spacer {
    min-height: 0;
}

.instance{
  padding-top:5%;
  margin-left:30%;
}
.instanceDialog{

   padding:5%;
  margin-left:15%;

}
#av{
  margin-right: 5px;
}


.listmain{
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.listmain md-list{
  padding:0;
}

.listmenu{
overflow: scroll;
overflow-x:hidden;
max-height: 453px !important;

-webkit-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.eachnamespc{
  margin-left:5%;
}

.eachnamespc p.ng-binding, .eachnamespc h3.ng-binding{
    font-family: 'Open Sans';
    margin:0;

}
.eachnamespc h3.ng-binding
{
  font-size:12pt;

}
.eachnamespc p.ng-binding{
  font-size: 9pt;
  line-height: 26px;
}
.viewInst{
  width:100%;
  height:100%


}
.instancetoolbar{
  background-color: #f2f2f2;
  font-family:'Open Sans';
  color:black;

}

.viewInst .md-button{
  text-transform: none;
}
.listInst{
 max-height: 453px !important;

}
.eachinst{
  text-align:left;
}

.eachinst p{

  font-weight: bold;
  font-size: 9pt;

}
.instanceList{
margin:15px;
}

.instanceList a.md-button.md-ink-ripple {
    width: 100%;
}

.instance md-input-container,.instanceDialog md-input-container {
    margin-bottom: 0;
}

.viewInst md-list md-list-item.md-3-line .md-list-item-text h3{
 font-family: 'Open Sans';
    font-size: 12pt;
    font-weight:bold;
  }
.viewInst md-list md-list-item.md-3-line .md-list-item-text p{
  font-family: 'Open Sans';
  font-size:9pt;
}




.envelop {
    margin: 10px;
    padding: 10px;
}
#plus
{
  float: right;
}
.heading
{
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

#createNameSpaceInputBtn{
  margin-left: 25%;
}
#createNameSpaceInputBtn button{
  background-color: teal;
}


#tabView{
  /*background-color: #D4E8BE;*/
  border:1px solid #e1e1e1;
  /*height:300px;*/
}


#noSubscriber{
  background:#e1e1e1;
  text-align: center;
  height: 600px;
}

.viewDiv{
  height:300px;
}

#fieldType{
  padding-top:12px;
}
.createNameSpaceTable{
  background-color:teal;
  width:50%;
}

#nameSpaceTable{
  /*display:none;*/
  border:1px solid grey;
  width:100%;
}

/*
table #nameSpaceTable {
  border: 1px solid #D0D3DA;
  margin: auto;
  width:100%;
}*/
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2E2E2E;
  text-decoration: none;
}

.head-tab{
background-color: teal;
}




.header{
text-align: center;
}

.listmenu{
overflow-x:hidden;
max-height: 393px !important;
}

.body-tab{
background-color: #00bfa5;
}

.lnButton {
  background-color: #16B3A4;
  border-radius: 4px;
  border-color: #01A797;
  padding: 10px;
  margin-bottom: 15px;
}

.lnButton:hover {
  background-color: #19736B;
}

.lnButton a {
  color: #fff;
}
/*begin -- This Style sheet used in the public/partials/login_reg.html by surya sah*/

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }
.listdemoListControls md-list {
  padding-top: 0; }
.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.imgbg1 {
  height: 100px;
  width: 100px;
  padding-top: -10px;
  position: absolute;
}

.imgbg {
  height: 85px;
  width: 85px;
  position: absolute;
}

.set1{
  padding-top: 30px;
}

.usrListContainer{
  padding:50px;
  margin: 180px;
  border: 1px solid blue;
}
.user-avatar {
  border-radius: 99%;
}

#edit1 {
  text-decoration: none;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;
}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}

.editable-click, a.editable-click {
     text-decoration: none;
     color: #000000;
     border-bottom: none;
}


/*Style sheet is ended of  public/partials/login_reg.html by surya sah*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font: 14px;
  font-size: auto;
  margin: auto;
}
.fix
{
  height: 250px;
}
.shad:hover
{
    box-shadow:  0px 0px 30px 0px #737373;
}
.shad
{
    height:490px;
      border:1px solid #cfcfd6;
}
.pray
{
  background-color:#eaeaed;
  height: 60px;
  font-size: 24px;
  padding-left: 10px;
}
button{
    cursor: pointer;
    float: right;
}
.flexcontainer {
	display: -webkit-flex;
		display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap:wrap;
 flex-wrap: wrap;
 background-color:  #f8f8f9;
}
.flex-item
{
width:47%;
 padding: 15px;
}

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick
{
  stroke-dasharray: 1, 2;
}





/* Pooja Style sheet*/


.whiteframedemoBasicClassUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
.mytabs{
  padding:0;
  width:40%;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);


/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
background: -moz-linear-gradient(top, white 0%, white 55%, #009688 130%);
-moz-border-radius: 7px;
border-radius: 7px;
}

.mytabs md-tabs.tabs.ng-isolate-scope.md-dynamic-height.flex{
  padding:0;

}
#fp{
  font-size:9pt;
}
.inputdemoIcons md-content{
    width:100%;
   height:100%;
  overflow:hidden;

}
#cb{
  color:#607D8B;
  font-size:10pt;
}
.bottom{
  margin-bottom:0;
}

.ar{
  margin:0;
  margin-top:5px;
  text-align:center;
}
#sign{
  font-size:12pt;
}
#reg{
  background-color:#00695C;
  width:80%
}
.bottom p{
  color:#4E342E;
    font-size:16pt;
  font-weight:bold;
  font-family:monospace;
}
.whiteframedemoBasicClassUsage .mic{
  height:30px;
}

.whiteframedemoBasicClassUsage md-input-container .ng-pristine{
  width:95%;
}





  .whiteframedemoBasicClassUsage md-whiteframe {
    background: #fff;
   width:450px;;

    height: 600px;
    margin:auto;
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #fff));
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -moz-linear-gradient(top, white 0%, white 55%, #fff 130%); }


  @media (max-width: 599px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 7px;
      height: 550px;
      background-color: #c8e4fa; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
                height: 550px; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
      height: 550px;
      background-color: #fcddde; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 25px;
      background-color: #F2FCE2; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 1.0em; } }
.inputdemoIcons .inputIconDemo {
    min-height: 48px; }



/*
Login  whiteframe css
*/

.whiteframedemoBasicClassUsage .login {
    background: #fff;
    width:450px;
    height: 300px;
    margin:auto;
    margin-top: 20px;
  }


    #inside{
      margin:20px;
    }

 md-input-container label {

text-transform: uppercase;
font-size: 9pt;
}

.error{
  text-align:right ;
  padding-right:8px;

}


.mytabs md-input-container input{
  font-size:11pt;
  font-family:sans-serif;
  font-weight: normal;
  color:#262626;
}
.mytabs md-input-container .md-errors-spacer{
  min-height: 0px;
  min-width: 0px;
}

.mytabs md-tabs md-ink-bar{
  color:rgb(121,134,203);
background-color:   rgb(121,134,203);
}

md-input-container.md-input-invalid [ng-message-exp] {
    color: grey;
    text-align: right;
}

.msg-error{
  font-size:9pt;
  color:grey;
  text-align:right;
}

.label label{
margin-left:8%;
font-size:9pt;
color:#737373;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;

}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%;
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}



/*ui-router css*/

.designbody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.designbody md-content {
  background-color: transparent !important;
 }
.designbody md-content md-tabs {

    border: 1px solid #e1e1e1; }

 .designbody md-content md-tabs md-tabs-wrapper {
      background-color:teal;}
 .designbody md-tabs .md-tab{
  color:white;
}

a {
  color: #FFFFF;
  text-decoration: none;
}
#add{
  color:white!important;
}
#namespace{
margin-top: 2px;
}
  .designbody md-tabs .md-tab.md-active{
   color: #d1d1d1;
   /*border:1px solid #e1e1e1; */
 }*/
 #tabView{
   /*background-color: #D4E8BE;*/
   border:1px solid #e1e1e1;
   /*height:300px;*/
 }


 #noSubscriber{
   background:#e1e1e1;
   text-align: center;
 }

.viewDiv{
  height:300px;
}



#output{
  margin-top: 7em;
}

#on
{
  padding-top: 10px;
}

.outerDiv{
  width: 550px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

md-input-container label{
  text-transform: uppercase;
  font-size: 9pt;
}
 md-dialog{
  min-width:50%;
 }

/* search box*/
.searchbox .md-button{
  min-width:50px;
}
.searchbox md-input-container input{
  font-size: 11pt;
}
.searchbox md-input-container .md-errors-spacer {
    min-height: 0;
}

.instance{
  padding-top:5%;
  margin-left:30%;
}
.instanceDialog{

   padding:5%;
  margin-left:15%;

}
#av{
  margin-right: 5px;
}


.listmain{
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.listmain md-list{
  padding:0;
}

.listmenu{
overflow: scroll;
overflow-x:hidden;
max-height: 453px !important;

-webkit-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.eachnamespc{
  margin-left:5%;
}

.eachnamespc p.ng-binding, .eachnamespc h3.ng-binding{
    font-family: 'Open Sans';
    margin:0;

}
.eachnamespc h3.ng-binding
{
  font-size:12pt;

}
.eachnamespc p.ng-binding{
  font-size: 9pt;
  line-height: 26px;
}
.viewInst{
  width:100%;
  height:100%


}


.viewInst .md-button{
  text-transform: none;
}
.listInst{
 max-height: 453px !important;

}
.eachinst{
  text-align:left;
}

.eachinst p{

  font-weight: bold;
  font-size: 9pt;

}
.instanceList{
margin:15px;
}

.instanceList a.md-button.md-ink-ripple {
    width: 100%;
}

.instance md-input-container,.instanceDialog md-input-container {
    margin-bottom: 0;
}

.viewInst md-list md-list-item.md-3-line .md-list-item-text h3{
 font-family: 'Open Sans';
    font-size: 12pt;
    font-weight:bold;
  }
.viewInst md-list md-list-item.md-3-line .md-list-item-text p{
  font-family: 'Open Sans';
  font-size:9pt;
}

.envelop {
    margin: 10px;
    padding: 10px;
}
#plus
{
  float: right;
}
.heading
{
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

/*begin -- This Style sheet used in the public/partials/login_reg.html by surya sah*/

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }
.listdemoListControls md-list {
  padding-top: 0; }
.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.imgbg1 {
  height: 100px;
  width: 100px;
  padding-top: -10px;
  position: absolute;
}

.imgbg {
  height: 85px;
  width: 85px;
  position: absolute;
}

.set1{
  padding-top: 30px;
}

.usrListContainer{
  padding:50px;
  margin: 180px;
  border: 1px solid blue;
}
.user-avatar {
  border-radius: 99%;
}

#edit1 {
  text-decoration: none;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;
}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}

.editable-click, a.editable-click {
     text-decoration: none;
     color: #000000;
     border-bottom: none;
}


/*Style sheet is ended of  public/partials/login_reg.html by surya sah*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font: 14px;
  font-size: auto;
  margin: auto;
}
.fix
{
  height: 250px;
}

.pray
{
  background-color:#eaeaed;
  height: 60px;
  font-size: 24px;
  padding-left: 10px;
}
button{
    cursor: pointer;
    float: right;
}
.flexcontainer {
	display: -webkit-flex;
		display: flex;
 -webkit-flex-direction: row;
 flex-direction: row;
 -webkit-flex-wrap:wrap;
 flex-wrap: wrap;
 background-color:  #f8f8f9;
}
.flex-item
{
width:47%;
 padding: 15px;
}

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.tick
{
  stroke-dasharray: 1, 2;
}

/* Pooja Style sheet*/


.whiteframedemoBasicClassUsage {
  /* For breakpoint `-xs` */
  /* For breakpoint `-sm` */
  /* For breakpoint `-md` */
  /* For breakpoint `-gt-md` */ }
.mytabs{
  padding:0;
  width:40%;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);


/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5));
background: -moz-linear-gradient(top, white 0%, white 55%, #009688 130%);
-moz-border-radius: 7px;
border-radius: 7px;
}

.mytabs md-tabs.tabs.ng-isolate-scope.md-dynamic-height.flex{
  padding:0;

}
#fp{
  font-size:9pt;
}
.inputdemoIcons md-content{
    width:100%;
   height:100%;
  overflow:hidden;

}
#cb{
  color:#607D8B;
  font-size:10pt;
}
.bottom{
  margin-bottom:0;
}

.ar{
  margin:0;
  margin-top:5px;
  text-align:center;
}
#sign{
  font-size:12pt;
}
#reg{
  background-color:#00695C;
  width:80%
}
.bottom p{
  color:#4E342E;
    font-size:16pt;
  font-weight:bold;
  font-family:monospace;
}
.whiteframedemoBasicClassUsage .mic{
  height:30px;
}

.whiteframedemoBasicClassUsage md-input-container .ng-pristine{
  width:95%;
}


  .whiteframedemoBasicClassUsage md-whiteframe {
    background: #fff;
   width:450px;;

    height: 600px;
    margin:auto;
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

/* rounded corners */
-webkit-border-radius: 12px;
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #fff));
-moz-border-radius: 7px;
border-radius: 7px;

/* gradients */
background: -moz-linear-gradient(top, white 0%, white 55%, #fff 130%); }


  @media (max-width: 599px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 7px;
      height: 550px;
      background-color: #c8e4fa; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
                height: 550px; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: auto;
      margin-top: 20px;
      height: 550px;
      background-color: #fcddde; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .whiteframedemoBasicClassUsage md-whiteframe {
      margin: 25px;
      background-color: #F2FCE2; }
    .whiteframedemoBasicClassUsage md-whiteframe > span {
      font-size: 1.0em; } }
.inputdemoIcons .inputIconDemo {
    min-height: 48px; }

.mic md-icon{
   width:18px;
  height:18px;
}

/*
Login  whiteframe css
*/

.whiteframedemoBasicClassUsage .login {
    background: #fff;
    width:450px;
    height: 300px;
    margin:auto;
    margin-top: 20px;
  }


    #inside{
      margin:20px;
    }

 md-input-container label {

text-transform: uppercase;
font-size: 9pt;
}

.error{
  text-align:right ;
  padding-right:8px;

}


.mytabs md-input-container input{
  font-size:11pt;
  font-family:sans-serif;
  font-weight: normal;
  color:#262626;
}
.mytabs md-input-container .md-errors-spacer{
  min-height: 0px;
  min-width: 0px;
}

.mytabs md-tabs md-ink-bar{
  color:rgb(121,134,203);
background-color:   rgb(121,134,203);
}

md-input-container.md-input-invalid [ng-message-exp] {
    color: grey;
    text-align: right;
}

.msg-error{
  font-size:9pt;
  color:grey;
  text-align:right;
}

.label label{
margin-left:8%;
font-size:9pt;
color:#737373;
}

md-input-container .textarea{
     border: 1px solid #eae9eb;
    box-sizing: border-box;
  border-radius:3px;

}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%;
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}



/*ui-router css*/

.designbody {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.designbody md-content {
  background-color: transparent !important;
 }
.designbody md-content md-tabs {

    border: 1px solid #e1e1e1; }

 .designbody md-content md-tabs md-tabs-wrapper {
      background-color:teal;}
 .designbody md-tabs .md-tab{
  color:white;
}



md-tab-content {
  padding: 25px;
}
md-tabs.md-accent > md-tabs-wrapper{
  background-color: #00BFFF;
}
md-tab-content:nth-child(1) {
  background-color: white;
}
md-tab-content:nth-child(2) {
  background-color:	white;
}
md-tab-content:nth-child(3) {
  background-color:	white;
}
#createNameSpaceInputBtn{
  margin-left: 25%;
}
#createNameSpaceInputBtn button{
  background-color: teal;
}
/*#createNamespaceTable{
  border:1px solid grey;
}*/

/*md-content md-tabs md-tabs-wrapper {
  background-color:teal;
}
md-tabs .md-tab{
  color:white;
}*/

#tabView{
  /*background-color: #D4E8BE;*/
  border:1px solid #e1e1e1;
  /*height:300px;*/
}


#noSubscriber{
  background:#e1e1e1;
  text-align: center;
  height: 600px;
}

a {
  color: #FFFFF;
  text-decoration: none;
}
#add{
  color:white!important;
}
#namespace{
margin-top: 2px;
}
  .designbody md-tabs .md-tab.md-active{
   color: #d1d1d1;
   /*border:1px solid #e1e1e1; */
 }
 #tabView{
   /*background-color: #D4E8BE;*/
   border:1px solid #e1e1e1;
   /*height:300px;*/
 }


 #noSubscriber{
   background:#e1e1e1;
   text-align: center;
 }


.viewDiv{
  height:300px;
}


#fieldType{
  padding-top:12px;
}
.createNameSpaceTable{
  background-color:teal;
}

#nameSpaceTable{
  /*display:none;*/
  border:1px solid grey;
}


/*table {
  border: 1px solid #D0D3DA;
  margin: auto;
  width:10%;
}*/

table#nameSpaceTable th {
  text-transform: uppercase;
  text-align:center;
}

table#nameSpaceTable tr {
  text-align:center;
}

table#nameSpaceTable td {
  text-transform: capitalize;
  text-align:center;}



#output{
  margin-top: 7em;

}

#on
{
  padding-top: 10px;
}
.outerDiv{
  width: 550px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
}


md-input-container label{
  text-transform: uppercase;
  font-size: 9pt;
}
 md-dialog{
  min-width:50%;
 }

/* search box*/
.searchbox .md-button{
  min-width:50px;
}
.searchbox md-input-container input{
  font-size: 11pt;
}
.searchbox md-input-container .md-errors-spacer {
    min-height: 0;
}

.instance{
  padding-top:5%;
  margin-left:30%;
}
.instanceDialog{

   padding:5%;
  margin-left:15%;

}
#av{
  margin-right: 5px;
}


.listmain{
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.listmain md-list{
  padding:0;
}

.listmenu{
overflow: scroll;
overflow-x:hidden;
max-height: 453px !important;

-webkit-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
box-shadow: 0px 0px 5px 0px rgba(188,194,194,1);
}
.eachnamespc{
  margin-left:5%;
}

.eachnamespc p.ng-binding, .eachnamespc h3.ng-binding{
    font-family: 'Open Sans';
    margin:0;

}
.eachnamespc h3.ng-binding
{
  font-size:12pt;

}
.eachnamespc p.ng-binding{
  font-size: 9pt;
  line-height: 26px;
}
.viewInst{
  width:100%;
  height:100%


}
.viewInst .md-button{
  text-transform: none;
}
.listInst{
 max-height: 453px !important;

}
.eachinst{
  text-align:left;
}

.eachinst p{

  font-weight: bold;
  font-size: 9pt;

}
.instanceList{
margin:15px;
}

.instanceList a.md-button.md-ink-ripple {
    width: 100%;
}

.instance md-input-container,.instanceDialog md-input-container {
    margin-bottom: 0;
}

.viewInst md-list md-list-item.md-3-line .md-list-item-text h3{
 font-family: 'Open Sans';
    font-size: 12pt;
    font-weight:bold;
  }
.viewInst md-list md-list-item.md-3-line .md-list-item-text p{
  font-family: 'Open Sans';
  font-size:9pt;
}
.envelop {
    margin: 10px;
    padding: 10px;
}
#plus
{
  float: right;
}
.heading
{
  padding-left: 20px;
  font-weight: bold;
  padding-top: 15px;
}

#createNameSpaceInputBtn{
  margin-left: 25%;
}
#createNameSpaceInputBtn button{
  background-color: teal;
}


#tabView{
  /*background-color: #D4E8BE;*/
  border:1px solid #e1e1e1;
  /*height:300px;*/
}


#noSubscriber{
  background:#e1e1e1;
  text-align: center;
  height: 600px;
}

.viewDiv{
  height:300px;
}

#fieldType{
  padding-top:12px;
}
.createNameSpaceTable{
  background-color:teal;
  width:50%;
}

#nameSpaceTable{
  /*display:none;*/
  border:1px solid grey;
  width:100%;
}
