.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }
.listdemoListControls md-list {
  padding-top: 0; }
.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > p,
.listdemoListControls md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

.imgbg1 {
  height: 100px;
  width: 100px;
  padding-top: -10px;
  position: absolute;
}

.imgbg {
  height: 85px;
  width: 85px;
  position: absolute;
}

.set1{
  padding-top: 30px;
}

.usrListContainer{
  padding:50px;
  margin: 180px;
  border: 1px solid blue;
}
.user-avatar {
  border-radius: 99%;
}

#textdecr {
  text-decoration: none;
}
