
.noSubscriber{
   background:#F6F6F6;
   text-align: center;
   height: 600px;
 }
 .noSubscriberinst
 {
   background:#F6F6F6;
   text-align: center;
 }

.editNamespace input{
   color:#868686 !important;
   font-size: 16px;
 }
.editNamespace textarea{
   color:#868686 !important;
   font-size: 14px;
   border:0px !important;
 }
.editNamespace md-radio-button{
   color:#868686 !important;
   font-size: 14px;
 }
.editNamespace label{
   color:#868686 !important;
   font-size: 13px;
 }

 .uploadJSON{
    color: #BDBDBD;
    font-size: 9pt;
}
 .uploadJSONFormat{
    height:200px !important;
    width:98%;
    border:1px solid #BDBDBD;
}

.NamespaceListCardHeader{
  cursor:pointer;
}

md-card.NamespaceCard{
  background-color:#F6F6F6;
}

.createNamespacePage{
  padding-left: 100px;
  padding-right: 100px;
}
.fieldsetNamespace{
  border: white;
}
.internalerror
{
  color:rgb(216,67,21) !important;
}
