

 /*.noSubscriber{
   background:#e1e1e1;
   text-align: center;
 }*/

 div.noSubscriber{
   background:#F6F6F6;
   text-align: center;
   height: 600px;
 }

 div.editNamespace input{
   color:#868686 !important;
   font-size: 16px;
 }
 div.editNamespace textarea{
   color:#868686 !important;
   font-size: 14px;
   border:0px !important;
 }
 div.editNamespace md-radio-button{
   color:#868686 !important;
   font-size: 14px;
 }
 div.editNamespace label{
   color:#868686 !important;
   font-size: 13px;
 }
