.functionTextArea{
     /*border: 1px solid #eae9eb;*/
    box-sizing: border-box;
  border-radius:3px;
}

.funcCheck md-checkbox{
  font-size:10pt;
  font-color:#1e222f;
}


.ace_editor
{ height: 350px;
width:92%;
margin-left:50px;
margin-top:10px;
margin-right:30px;
border:2px #00cccc solid;
border-radius:7px;}

#save{
  background-color: #008080;
 width:40%;
 margin-left:35%
}

.code{
  font-size: 14pt;
  margin-left:7%;
  font-family: cursive;
  font-style: italic;

}
