<div class="content">
  <md-content md-padding>
    <md-tabs md-stretch-tabs="never" md-selected="selectedIndex" md-swipe-content="true" md-border-bottom >
      <md-tab label="Summary" ui-sref=".summary"></md-tab>
      <md-tab label="Namespace" ui-sref=".namespace"></md-tab>
      <md-tab label="Instance" ui-sref=".instance"></md-tab>
      <md-tab label="Streams" ui-sref=".streams"></md-tab>
      <md-tab label="Historic Queries" ui-sref=".historicFunction"></md-tab>
      <md-tab label="Functions" ui-sref=".function"></md-tab>
      <md-tab label="Constants" ui-sref=".constant"></md-tab>
      <md-tab label="Watchlist" ui-sref=".watchlist"></md-tab>
    </md-tabs>
  </md-content>
  <div ui-view></div>
</div>
