<div>
<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Selection details</h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="expand" ng-disabled="true">
      <md-icon md-svg-icon="img/icons/menu.svg">
      </md-icon>
    </md-button>
</md-toolbar>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Watchlist name</span>
      <span class="md-subhead">Owner organisation</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
  </md-card-actions>
</md-card>
</div>
