<!-- <div layout="center center"> -->

<md-whitefield class="md-whiteframe-3dp" flex-sm="95" flex-gt-sm="95" flex-gt-md="95" style="margin:auto">
<md-toolbar flex-offset="5" flex="90">
  <div class="md-toolbar-tools">
    <h2>App Portfolio</h2>
    <!-- <span flex></span> -->
  </div>
</md-toolbar>

<div flex-offset="5" flex="90">
<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
  <!-- <div layout="center center" -->
<md-grid-tile ng-repeat="x in orgs" ng-click="orgClick($event,x.orgSite)" style="background-image: url({{x.orgLogo}}); background-size: contain;background-repeat:no-repeat;background-position:center;cursor:pointer">
  <md-grid-tile-header>
    <h3>{{x.orgSite}}</h3>
  </md-grid-tile-header>
  <md-grid-tile-footer>
    <h3>office address:{{x.orgLocation}}</h3>
  </md-grid-tile-footer>
</md-grid-tile>
<!-- </div> -->
</md-grid-list>
</md-whitefield>
