<md-whiteframe class="md-whiteframe-3dp" layout="column" flex-sm="100" flex flex-gt-sm="100" flex-gt-md="100" style="height:500px;margin:5px 10px 10px 10px;margin-top:5px;">
<!-- <div layout="column"> -->
  <div class='subtitle' flex>
    <div flex="100">
      <div class='subtitle'  flex="80">
        <h3 class="tabHeading">organisations</h3>
      </div>
    </div>
  </div>

  <div flex="90">
    <div flex-offset="5" flex="90">
    <md-grid-list  md-cols-xs="1" md-cols-sm="8" md-cols-md="16" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="10px" md-gutter-gt-sm="18px">
      <md-grid-tile ng-repeat="x in orgs"  md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-rowspan-md="4" md-colspan-md="4" md-colspan-xs="1" ng-click="orgClick($event,x.orgSite)" style="background-image: url({{x.orgLogo}}); background-size: contain;background-repeat:no-repeat;background-position:center;cursor:pointer">
        <md-grid-tile-footer>
          {{x.orgSite}}
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>

        <!-- <div flex="100" layout="row" layout-align="center center">
          <md-card flex="20" ng-repeat="x in orgs" md-theme="grey" ng-click="orgClick($event,x.orgSite)" style="width:100px;height:100px">

            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{x.orgName}}</span>
              </md-card-title-text>
             </md-card-title>
             <img ng-src="{{x.orgLogo}}" class="md-card-image" alt="Washed Out">
          </md-card>
        </div> -->


      <!-- </div> -->
      </div>
    </div>
    </md-whiteframe>
