<!-- <div layout="center center"> -->

<md-whitefield class="md-whiteframe-3dp" flex-sm="95" flex-gt-sm="95" flex-gt-md="95" style="margin:auto">
<!-- <md-toolbar flex-offset="5" flex="90">
  <div class="md-toolbar-tools">
    <h2>App Portfolio</h2>
  </div>
</md-toolbar> -->
<div class='subtitle' layout="row" flex>
  <div flex="30">
    <h3 class="tabHeading">
      organisations
    </h3>
  </div>
  <div flex="66">
  </div>
</div>

<!-- <span flex></span> -->

<div flex-offset="5" flex="90">
<md-grid-list  md-cols-xs="1" md-cols-sm="8" md-cols-md="16" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="10px" md-gutter-gt-sm="18px">
  <!-- <div layout="center center" -->
<md-grid-tile ng-repeat="x in orgs"  md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-click="orgClick($event,x.orgSite)" style="background-image: url({{x.orgLogo}}); background-size: contain;background-repeat:no-repeat;background-position:center;cursor:pointer">
  <md-grid-tile-header>
    <h3>{{x.orgSite}}</h3>
  </md-grid-tile-header>
  <md-grid-tile-footer>
    <h5>
      <pre>    {{x.contactEmail}}
        {{x.orgLocation}}</pre></h5>
  </md-grid-tile-footer>
</md-grid-tile>
<!-- </div> -->
</md-grid-list>
</md-whitefield>
