<md-dialog  aria-label="Full Screen Dialog Test" class="fullscreen-dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><b>ORGANISATIONAL OVERVIEW</b></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding" >
    <div layout="row" layout-xs="column" layout-align>
      <div class="logo" flex>
        <img class="img-circle" ng-src="{{orgContactInfo.orgLogo}}" alt="static" width="110" height="110" border-radius="80%" />
      </div>

      <div class="support" flex-offset="5" flex="90">
        <md-content layout-xs="column" layout="row">
          <md-whiteframe  layout-align>
            <h3>{{orgContactInfo.orgName}}</h3>
            <h4>  {{orgSite}}</h4>
            <h5>{{orgContactInfo.contactName}} <{{orgContactInfo.contactEmail}}></h5>
          </md-whiteframe>
        </div>
      </div>
    </md-content>
    <md-content class="md-padding" layout-xs="column" layout="row">


      <div layout="row" flex layout-xs="column" >
        <md-whiteframe class="md-whiteframe-10dp" flex="40">
          <div>
            <md-subheader><h2><b>ABOUT</b></h2></md-subheader>
            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3 class="md-display-3"><b>NAMESPACES</b></h3>
                </div>
                <md-button class="md-secondary md-fab"><b>{{orgInfo.namespaces}}</b></md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>

            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3 class="md-display-3"><b>INSTANCES</b></h3>
                </div>
                <md-button class="md-secondary md-fab"><b>{{orgInfo.datasources}}</b></md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>

            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3 class="md-display-3"><b>STREAMS</b></h3>
                </div>
                <md-button class="md-secondary md-fab "><b>{{orgInfo.streams}}</b></md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>

            <md-list>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3 class="md-display-3"><b>WATCHLISTS</b></h3>
                </div>
                <md-button class="md-secondary md-fab"><b>{{orgInfo.watchlists}}</b></md-button>
                <md-divider ng-if="!$last"></md-divider>
              </md-list-item>
            </md-list>
          </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-10dp" flex="70" flex-offset="5">
          <div layout="row" flex layout-xs="column" >
            <md-subheader><h2><b>RECENT ACTIVITY</b></h2></md-subheader>
          </div>
        </md-content>
        <div layout="column">
          <md-card ng-repeat="activity in recentActivity">
            <md-list>
              <md-list-item class="md-3-line" >
                <div class="md-list-item-text">
                  <h3><b>UPDATED ON:- {{activity.editedOn| date:"medium"}}</b></h3>
                  <h5><b>WATCHLIST NAME:- {{activity.name}}</b></h5>
                  <h6><b>EDITED BY:- {{activity.editedBy}}</b></h6>
                </div>
              </md-list-item>
            </md-list>
          </md-card>
        </div>
      </md-whiteframe>
    </div>
  </md-dialog-content>
</md-dialog>
