<!-- <div layout="center center"> -->
<!-- <div> -->
<md-whitefield class="md-whiteframe-3dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" style="margin:auto">

  <div class='subtitle' layout="row" flex>
    <div flex="100">
      <h3 class="tabHeading">
        watchlists for selection : {{selection}}
      </h3>
      </div>
  </div>

<div flex-offset="5" flex="90">
<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="6px" md-gutter-gt-sm="8px">
  <!-- <div layout="center center" -->
<md-grid-tile ng-repeat="x in watches"  md-rowspan="2" md-colspan="2" ng-click="" ng-style="{'background':brown}">
  <md-grid-tile-header>
    <h3>{{x.name}}</h3>
  </md-grid-tile-header>
  <md-grid-tile-footer>
    <h3>namespace:{{x.namespace}}</h3>
  </md-grid-tile-footer>
</md-grid-tile>
<!-- </div> -->
</md-grid-list>

</md-whitefield>
<!-- </div> -->
