<!-- <div layout="center center"> -->
<div>
<md-whitefield class="md-whiteframe-3dp" flex-sm="95" flex-gt-sm="95" flex-gt-md="95" style="margin:auto">
<md-toolbar flex-offset="5" flex="90">
  <div class="md-toolbar-tools">
    <h2>Organization Portfolio</h2>
    <!-- <span flex></span> -->
  </div>
</md-toolbar>
 <span flex></span>
<div flex-offset="5" flex="90">
<md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
  <!-- <div layout="center center" -->
<md-grid-tile ng-repeat="x in watches" ng-click="appClick($event,x)" style="cursor:pointer;background-size:contain;background-repeat:no-repeat">

  <md-grid-tile-header>
    <h3>{{x.name}}</h3>
  </md-grid-tile-header>
<md-icon class"material-icons" style="font-size:72px;margin: 70px 150px 120px 80px" aria-label="Graph dialog">show_chart</md-icon>
  <md-grid-tile-footer>
    <h3>namespace:{{x.namespace}}</h3>
  </md-grid-tile-footer>
</md-grid-tile>
<!-- </div> -->
</md-grid-list>
</md-whitefield>
</div>
