<!-- <div style="margin-top:100px;margin-left:30px;">
  <div flex="100">
    <md-content>
      <h3 class="md-title">Active Watchlists : </h3>
    </md-content>
  </div>
  <div flex="100">
    <md-content>
      <h3 class="md-title">Active Processors : {{nop}}</h3>
    </md-content>
  </div> -->

<div style="margin-top:100px;margin-left:30px;">
<div layout="row" layout-align="center center">
  <!-- <div><heatmap data="procObj" filter="watchtaskfilter" processorName="procName">
  </heatmap></div> -->
  <div ng-repeat="(procName, procObj) in processors">
    <heatmap data="procObj" filter="watchtaskfilter" processorName="procName" style="min-height: 250px;">
    </heatmap>
  </div>
  </heatmap>
</div>
</div>

  <!-- <div ng-repeat="(procName, procObj) in processors">
    <div>
      <heatmap data="procObj" filter="watchtaskfilter" processorName="procName">
      </heatmap>
    </div>
  </div> -->
<!-- </div> -->
