<div layout="row" style="margin-top:70px;">
    <div flex="100" style="background-color: rgba(158,158,158,0.2);">
        <h3 class="subh">Process Control Panel</h3>
    </div>
</div>
<br>
<div layout="column">
    <div layout="row">
        <div flex="30">
            <div ng-repeat=" watchn in processors" >
                <div ng-repeat="watchl in watchn['tasks']" ng-style="{color: watchl.color}" >
                    <h3>{{watchl.watchName}}</h3>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div ng-repeat="(procName, procObj) in processors ">
            <heatmap data="procObj " filter="watchtaskfilter " processorName="procName " style="min-height: 250px;">
            </heatmap>
        </div>
    </div>
</div>

  