<md-dialog aria-label="Full Screen dialog" class="full-dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><b>{{orgSite}}</b></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class"material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding">
    <watchwidget class="flex-item" flex="{{watch.publishers.dashboard.displaySize}}" watchdefn="watch" eventobj="socket">
      <span>
        <div style='margin:5px;'>
          <h4 style='display:inline'>By {{watch.createdBy}}</h4>
          <p style='display:inline'>On {{watch.createdOn| date:"medium"}}</p>
          <p>Modified by {{watch.editedBy}} on {{watch.editedOn| date:"medium"}}</p>
        </div>
      </span>
    </watchwidget>

    <div>
      <div flex="15">
        <md-card md-theme="dark-grey" md-theme-watch>
          <md-card-header style="background:#eae1e1;">
            <md-card-header-text>
              <span class="md-headline">{{processorName}}</span>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <heatmap data="processorMap" filter="watchtaskfilter" style="background:#F7F7F7"></heatmap>
        </md-card>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
