<md-dialog aria-label="Full Screen dialog" class="full-dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><b>{{orgSite}}</b></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon class"material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding">

    <watchwidget class="flex-item" flex="{{watch.publishers.dashboard.displaySize}}" watchdefn="watch" eventobj="socket">
    </watchwidget>
    <md-content class="md-padding" layout-xs="column" layout="row">

      <md-whiteframe class="md-whiteframe-3dp" flex="20">
        dgrgergerjjkkmm
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-3dp" flex="column" flex="20" flex-offset>
        dgrgergerjjkkmm
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-3dp" flex="column" flex="20">
        dgrgergerjjkkmm
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-3dp" flex="column">
        <md-content>
          <md-list>
            <md-list-item class="md-5-line" >
              <div class="md-list-item-text">
                <h5><b>EDITED BY: {{watch.editedBy}}<b></h6>
                  <h6>EDITED ON: {{watch.editedOn}}</h6>
                  <h5><b>CREATED BY: {{watch.createdBy}}</b></h5>
                  <h6>CREATED ON: {{watch.createdOn}}</h5>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </md-whiteframe>

        </md-content>


</md-dialog-content>

</md-dialog>
