.h1 {
  font-size: 50px;
  text-align: center;
}

.h4 {
  text-align: center;
}

.cardHeader {
  text-align: center;
  font-size: 20px;
}

.toolbarHead {
  width: 100%;
}

.lastcard{
  padding-right: 10px;
}

.headerName {
  background-color: #E6E6FA;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}

.card{
  border-radius: 7px;
  height: 230px;
}

.tabHeading {
  padding-left: 20px;
  color: #8c9394;
}

.subtitle {
  background-color: #f1fafb;
  padding: 0px;
}
