<div class="content">
  <div flex="100" class="subtitle" layout="row">
    <md-card-avatar layout-padding>
      <img class="logo" style="height:50px; width:70px;" ng-src="{{org.orgLogo}}" />
    </md-card-avatar>
    <div flex="90" style="color:#6b7171;font-weight: bold;">
      <div style="padding-top: 23px;" layout="column">
        <span style="text-transform: uppercase;">{{org.orgsite}}</span>
        <div layout="column">
          <span style="text-transform: capitalize;" class="md-subhead">{{org.orgLocation}}</span>
        </div>
      </div>
    </div>
    <div layout="row" style="padding-right:40px" layout-align="center center">
      <div ng-show="showinput" layout="row">
        <md-button class="clr">
          <md-icon class="material-icons" ng-click="loadData()">close</md-icon>
        </md-button>
        <md-input-container>
          <input ng-model=" username " name="name " type="text " id="search-input " autocomplete="off">
        </md-input-container>
      </div>
      <md-button class="srch" ng-click="showinput=!showinput" ng-show="showsrch">
        <md-icon class="material-icons" ng-click="searchUser()">search</md-icon>
      </md-button>
      <ng-md-icon style="cursor:pointer;" flex-offset="5" aria-label="" icon="person_add" ui-sref="tattva.organisation.organisationEdit" size="30px"></ng-md-icon>
    </div>
  </div>
  <md-content layout-padding>
    <md-list flex="">
      <md-subheader class="md-no-sticky">List of User : {{user.length}}</md-subheader>
      <md-divider></md-divider>
      <p ng-if="user.length===0">No Result Found</p>
      <md-list-item style="cursor:pointer;" class="md-3-line" ng-repeat="person in user | startfrom:currentPage*pageSize | limitTo:pageSize" ng-click="showConfirm($index)">
        <span class='md-avatar'><ng-letter-avatar width="40" height="40" fontSize="20" charCount=1 data="{{person.name}}" shape="round"></ng-letter-avatar></span>
        <div class="md-list-item-text" layout="column" disabled>
          <h3 style="text-transform: capitalize;font-weight: bold;">{{ person.name }}</h3>
          <h4>{{ person.email }}</h4>
          <p>{{ person.role | role }}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <div layout='row' layout-align="end center">
        <md-button class="md-fab md-mini md-raised" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          <md-icon>arrow_back</md-icon>
        </md-button>
        <p style="margin-right:15px" class="md-subheader">
          {{currentPage+1}}/{{numberOfPages()}}
        </p>
        <md-button class="md-fab md-mini md-raised" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
          <md-icon>arrow_forward</md-icon>
        </md-button>
      </div>
    </md-list>
  </md-content>
