<div class="content">
<md-content layout-padding>
  <md-list flex="">
    <md-subheader class="md-no-sticky">List of User : {{user.length}}</md-subheader>
    <md-divider></md-divider>
    <md-list-item style="cursor:pointer;" class="md-3-line" ng-repeat="person in user" ng-click="showConfirm($index)">
      <span class='md-avatar'><ng-letter-avatar width="40" height="40" fontSize="20" charCount=1 data="{{person.name}}" shape="round"></ng-letter-avatar></span>
      <div class="md-list-item-text" layout="column" disabled>
        <h3 style="text-transform: capitalize;font-weight: bold;">{{ person.name }}</h3>
        <h4>{{ person.email }}</h4>
        <p>{{ person.role | role }}</p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
   </md-list>
 </md-content>
 </div>