<form name="projectForm" flex id="outerBorder">
  <fieldset class="fieldsetStream" ng-disabled="editStreamFlag">
  <!-- <div layout="column" flex> -->
    <div layout="row" flex>
      <md-input-container class="md-block" flex-gt-sm flex="40">
        <label>Select Namespace</label>
        <md-select ng-model="user_namespace" >
          <md-option ng-repeat="namespace in namespace_collection" ng-value="namespace" ng-disabled="editStreamFlag">
            {{namespace}}
          </md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
      <md-input-container class="md-block" flex-gt-sm flex="40">
        <label>Select Instance</label>
        <md-select ng-model="user_instance">
          <md-option ng-repeat="instance in instance_collection" ng-value="instance" ng-disabled="editStreamFlag">
            {{instance}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-block" flex="35">
        <label>Name of Stream</label>
        <input required name="streamName" ng-model="streamsData.user_streamName">
        <div ng-messages="projectForm.streamName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <span flex></span>
      <md-input-container flex="60">
        <textarea class="textarea" ng-model="streamsData.stringDescription" type="textarea" placeholder="Description"></textarea>
      </md-input-container>
    </div>
    <h4 style="text-align: center">Query Criteria - Build Your Query Here</h4>
    <div>
      <md-content>
        <div layout="row" flex ng-if="!showStreamQuery" ng-repeat="stmt in streamsData.queryBuilder">
          <!--===========================DropDown(Fields)==============================-->
          <md-input-container class="md-block" flex-gt-sm flex="25">
            <label>Select field</label>
            <md-select ng-model="stmt.user_fields">
              <md-option ng-repeat="namespace_field in namespaceFields" value="{{namespace_field}}" ng-disabled="editStreamFlag">
                {{namespace_field}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <!--==========================DropDown(Operator)=============================-->
          <md-input-container class="md-block" flex-gt-sm flex="25">
            <label>Operators</label>
            <md-select ng-model="stmt.user_operator">
              <md-option ng-repeat="operators in operator" value="{{operators}}" ng-disabled="editStreamFlag">
                {{operators}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <!--===========================TextBox(Value)================================-->
          <md-input-container class="md-block" flex-gt-sm flex="25">
            <label>Value</label>
            <input required name="value" ng-model="stmt.user_value">
            <div ng-messages="projectForm.value.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div>
            <md-button class="md-raised" ng-if="!showStreamQuery" ng-click="delete($index)" flex-offset="5">
              Remove
            </md-button>
          </div>
        </div>
        <div layout="row">
          <span flex></span>
          <!-- <div> -->
            <!-- <md-button class="md-raised" ng-if="showStreamQuery" ng-click="toggle()" flex-offset="5">
              Remove
            </md-button> -->
          <!-- </div> -->
          <md-button class="md-raised" ng-click="streamsData.and()">
            Add
          </md-button>
        </div>
      </md-content>
    </div>
    </fieldset>
    <div layout="row" flex-offset="40">
      <md-button class="md-raised" ui-sref="design.streams.viewStreams">Cancel</md-button>
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="projectForm.$invalid" ui-sref="design.streams.viewStreams" ng-if="!editStream && !editStreamFlag">Create</md-button>
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="projectForm.$invalid" ui-sref="design.streams.viewStreams" ng-if="editStream && !editStreamFlag">Save</md-button>
      <md-button class="md-raised md-primary" ng-click="edit()" ng-if="editStreamFlag">Edit</md-button>
    </div>

  <!-- </div> -->
</form>
<!-- </md-whiteframe> -->
