<div class="viewInst" ng-if="instance.length!=0">
  <md-subheader class="leftpadding md-primary md-title">Data streams from {{nsname}}</md-subheader>
  <md-divider></md-divider>
  <div ng-init="getStreamData(nsname)">
    <md-grid-list md-cols="4" md-row-height="100px" md-gutter="12px" >
      <md-grid-tile flex ng-repeat="stream in streamResultData">
        <!-- {{stream}} -->
        <md-button class="leftpadding" ui-sref="design.edit({ streamName: '{{stream.streamname}}' }) " layout="row" flex>
          <ng-letter-avatar data={{stream.instance}} shape="round" avatarcustombgcolor="#2e2eb8" charCount="2"></ng-letter-avatar>
          <h4 class="leftpadding">{{stream.streamname}}</h4>
        </md-button>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
