<form name="addhistoricfunction" ng-submit="savehistoricfunction()" ng-init="">
  <fieldset class="fieldset" ng-disabled="view">
    <div layout="column" layout-sm="column" layout-xs="column" layout-padding class="watchlistlayout">
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="50">
          <label>Name of Query</label>
          <input ng-disabled="edit" ng-required="true" name="historicfunctionName" flex="90" type="text" ng-model="fndef.name">
          <div flex layout-align="right" ng-messages="historicfunctionadd.historicfunctionName.$error" class="error" id="myerr" role="alert">
            <div ng-message-exp="['required']">
              Name of Query is required
            </div>
          </div>
        </md-input-container>
        <md-input-container flex="50">
          <label>Description about Query</label>
          <input ng-required="true" name="historicfunctionFunctionality" flex="100" type="text" ng-model="fndef.description">
          <div flex layout-align="right" ng-messages="historicfunctionadd.historicfunctionFunctionality.$error" class="error" id="myerr" role="alert">
            <div ng-message-exp="['required']">
              Description is required
            </div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-whiteframe class="md-whiteframe-1dp" layout="column" layout-padding>
          <div layout="row" layout-sm="column" layout-xs="column" flex>
            <div layout="column" layout-padding flex="45" ng-controller="historicQueryNamespaceCtrl as ctrl">
              <div layout="row">
                <md-subheader flex="20">From :</md-subheader>
                <md-autocomplete 
                required
                md-input-name="atoCmpNmsp"
                md-input-minlength="1"
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item"
                md-min-length="0"
                placeholder="Select Watchlist"
                flex="80">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
                <div ng-messages="watchlistcreate.atoCmpNmsp.$error" ng-if="watchlistcreate.atoCmpNmsp.$touched">
                  <div ng-message="required">This field is required</div>
                </div>
                <md-not-found>
                  No watchlist matching "{{ctrl.searchText}}" were found.
                </md-not-found>
              </md-autocomplete>
            </div>
            <div flex="10"></div>
            <watchlistexpr watch="wtstdef" ng-if="fndef.watchlist && wtstdef" flex="100"></watchlistexpr>
          </div>       
          <div flex="10"></div>
          <div layout="column" flex="45" layout-align="center center">
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-subheader layout layout-padding layout-align="top left">Define Query Time Period :</md-subheader>
              <md-input-container layout="column" ng-controller="historicQueryNamespaceCtrl" layout-padding style="margin-top:0px;">
                <md-select name="timeFieldOption"  ng-model="fndef.queryTimeField" required>
                  <label>Select Time Field</label>
                  <md-option ng-repeat="i in timeFieldOption">{{i}}</md-option>
                </md-select>
                <div ng-messages="addhistoricfunction.timeFieldOption.$error">
                  <div ng-message="required">This is required!</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" >
              <mdp-date-picker mdp-placeholder="From Date" ng-model="fromDate"></mdp-date-picker>
              <mdp-time-picker mdp-placeholder="From Time" mdp-auto-switch="true" ng-model="fromTime"></mdp-time-picker>
            </div>
            <div layout="row">
              <mdp-date-picker mdp-placeholder="To Date" ng-model="toDate"></mdp-date-picker>
              <mdp-time-picker mdp-placeholder="To Time" mdp-auto-switch="true" ng-model="toTime"></mdp-time-picker>
            </div>
          </div>
        </div>
        <div layout="row">
          <!-- Tattva Historic Query Expression -->
          <!-- tattvaHistQExpression -->
          <tattva-hist-q-expression style="white-space: pre-line;overflow-wrap: break-word;word-wrap: break-word;" field="fndef" ng-if="fndef.watchlist && fndef.outputFields.length" flex="100"></tattva-hist-q-expression>
        </div>
        <div>
          <md-whiteframe ng-show="fndef.outputFields.length" class="md-whiteframe-1dp" layout="column" ng-if="fndef.outputFields.length" flex>
            <md-subheader layout layout-align="left left" flex>Select :</md-subheader>
            <div layout="row"  ng-repeat="field in fndef.outputFields" flex>
              <md-subheader>{{$index+1}}) </md-subheader>
              <!-- Tattva Historic Query Output Field -->
              <!-- tattvaHistQOutputField -->
              <tattva-hist-q-output-field field="field" flex="90"></tattva-hist-q-output-field>
              <span flex></span>
              <md-button layout layout-align="center center" class="md-icon-button float-right" ng-click="removeOutputExpression($index);" aria-label=""><md-icon layout layout-align="top right" class="material-icons">clear</md-icon><md-tooltip md-direction="right">
                Remove
              </md-tooltip></md-button>
            </div>
            <div>
              <md-button class="float-right md-fab md-mini md-raised greyBackground" ng-click="addOutputExpression();" aria-label="">
                <md-icon class="material-icons">
                  add
                </md-icon><md-tooltip md-direction="left">
                Define Output Data
              </md-tooltip></md-button>
            </div>
          </md-whiteframe>
        </div>
        <div>
          <md-whiteframe ng-show="fndef.queryCriteria.length" class="md-whiteframe-1dp" layout="column" ng-if="fndef.queryCriteria.length" flex>
            <md-subheader layout layout-align="left left" flex>Where :</md-subheader>
            <div layout="row" layout-sm="column" layout-xs="column" ng-repeat="criteria in fndef.queryCriteria" flex>
              <md-subheader>{{$index+1}}) </md-subheader>
              <div flex="90" layout="row">
                <!-- Tattva Historic Query query criteria left field-->
                <!-- tattvaHistQQueryCriteriaLeftField -->
                <tattva-hist-q-query-criteria-left-field criteria="criteria" flex="40"></tattva-hist-q-query-criteria-left-field>
                <!-- Tattva Historic Query query criteria operator-->
                <!-- tattvaHistQQueryCriteriaOperator -->
                <tattva-hist-q-query-criteria-operator criteria="criteria" flex="20"></tattva-hist-q-query-criteria-operator>
                <!-- Tattva Historic Query query criteria right field-->
                <!-- tattvaHistQQueryCriteriaRightField -->
                <tattva-hist-q-query-criteria-right-field criteria="criteria" flex="40"></tattva-hist-q-query-criteria-right-field>
              </div>
              <span flex></span>
              <md-button class="md-icon-button float-right md-mini" ng-click="removeExpression($index);" aria-label=""><md-icon layout layout-align="center center" class="material-icons">clear</md-icon></md-icon><md-tooltip md-direction="right">
                Remove Query Criteria
              </md-tooltip></md-button>
            </div>
            <div>
              <md-button class="md-fab float-right md-mini md-raised greyBackground" ng-click="addNewExpression();" aria-label="">
                <md-icon class="material-icons">
                  add
                </md-icon><md-tooltip md-direction="left">
                Add Query Criteria
              </md-tooltip></md-button>
            </div>
          </md-whiteframe>
        </div>
        <div layout layout-sm="column" layout-xs="column" layout-align="center center">
          <button class="md-raised float-left md-button md-ink-ripple" ng-click="addOutputExpression();" ng-show="!fndef.outputFields.length" type="button" aria-label="Define Expected Output"><span class="ng-scope">Define Output Data</span><md-tooltip md-direction="top">what U need As Result?
          </md-tooltip></button>
          <button class="md-raised float-right md-button md-ink-ripple" ng-show="!fndef.queryCriteria.length" ng-click="addNewExpression();" type="button" aria-label="Define Query Criteria"><span class="ng-scope">Define Query Criteria</span><md-tooltip md-direction="top">Here: Provide Conditions To Filter Historic Data Before Calcuting Result!!!
          </md-tooltip></button>
        </div>
      </md-whiteframe>
    </div>
  </div>
</fieldset>
<div class="publishlayout" layout-sm="column" layout-xs="column">
  <button ng-if="edit && !view" class="md-raised float-right md-primary md-button md-ink-ripple" ng-click="updateHistoricfunction();" type="button" aria-label="Update"><span class="ng-scope">Update</span></button>
  <button ng-if="!edit && view" class="md-raised float-right md-primary md-button md-ink-ripple" ng-click="toggleToEdit()" type="button" aria-label="Edit"><span class="ng-scope">Edit</span></button>  
  <button ng-if="!edit && !view" class="md-raised float-right md-primary md-button ng-scope md-ink-ripple" type="submit" ng-disabled="!fndef.outputFields.length" aria-label="save"><span class="ng-scope">save</span></button>
  <md-checkbox class="float-left ng-scope" ng-model="Query">
    View JSON Structure
  </md-checkbox>
  <button class="md-raised float-right md-button md-ink-ripple" ng-click="cancelhistoricfunctionadd()" ng-if="view" type="button" aria-label="Back"><span class="ng-scope">Back</span></button>
  <button ng-if="!view" class="md-raised float-right md-button md-ink-ripple" ng-click="cancelhistoricfunctionadd()" type="button" aria-label="Cancel"><span class="ng-scope">Cancel</button>
</div>
<div layout="row" ng-show="Query" class="publishlayout">
  <pre class="preview2" >{{fndef | json}}
  </div>
</form>

