<md-dialog class="watchlistDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Select Function</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding">
    <form name="Formfnctn" ng-submit="updateBackPublisher()()">
      <div layout layout-sm="column">
        <md-input-container flex>
          <md-select name="function" ng-model="fieldData.function" required>
            <label>Function Name</label>
            <md-option ng-repeat="object in functioName">{{object}}</md-option>
            </md-select>
            <div ng-messages="Formfnctn.function.$error">
                <div ng-message="required">This is required!</div>
              </div>
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Specify Parameter as Comma Seperated Values</label>
          <input name="functionparam" ng-model="fieldData.functionparam" required>
          <div ng-messages="Formfnctn.functionparam.$error">
              <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <br><br><br>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" class="md-primary"> OK </md-button>
      <md-button ng-click="cancel()"> Cancel </md-button>
    </form>
  </md-dialog-actions>
</md-dialog>
