<md-dialog class="watchlistDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Select Function</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding">
    <form name="Form" ng-submit="saveData()">
      <div layout layout-sm="column">
        <md-input-container flex>
          <md-select ng-model="fieldData.function">
            <label>Function Name</label>
            <md-option ng-repeat="object in function">{{object.fun_name}}</md-option>
            </md-select>
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Specify Parameter as Comma Seperated Values</label>
          <input ng-model="fieldData.functionparam">
        </md-input-container>
      </div>
    </md-dialog-content>
    <br><br><br>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button type="submit" class="md-primary" ng-click="updateBackPublisher()"> OK </md-button>
      <md-button ng-click="cancel()"> Cancel </md-button>
    </form>
  </md-dialog-actions>
</md-dialog>
