<md-content class="content">
  <div class="flexcontainer" ng-controller="dashboardcontroller">
    <div class="flex-item" ng-repeat="item in itemcollection">
      <dashboardlayout result="item"  data="logdata">
      </dashboardlayout>
    </div>
    <md-button class="md-primary md-raised" ng-click="UI_Publish($event)">
      UI Publish
    </md-button>
  </div>
</md-content>


<!-- <md-content class="content">
  <div class="flexcontainer" ng-controller="dashboardcontroller">
    <div ng-repeat="item in itemcollection">
      <dashboardlayout  flex="{{item.size}}" result="item"  data="logdata">
      </dashboardlayout>
    </div>
    <md-button class="md-primary md-raised" ng-click="UI_Publish($event)">
      UI Publish
    </md-button>
  </div>
</md-content> -->
