<md-content class="content">
  <div  ng-controller="dashboardcontroller">
    <!-- <div class="flex-item" ng-repeat="item in itemcollection">
      {{item.slideone}}{{item.slidetwo}}
      <dashboardlayout result="item"  data="logdata">
      </dashboardlayout>
    </div> -->
    <div class="flexcontainer" ng-repeat="(key, value) in itemcollection | groupBy: 'slidetwo'">
  <!-- {{ key }} -->
      <!-- ng if key =A then go to A slide -->
      <!-- ng if key =B then go to B slide -->
      <div class="flex-item" ng-if="key=='A'" ng-repeat="item in value">
        <h1>helooo i m in slide A</h1>
        <dashboardlayout result="item"  data="logdata">
        </dashboardlayout>
</div></div>

  <!-- <div class="flex-item" ng-repeat="item in itemcollection">
    {{item.slideone}}{{item.slidetwo}}
    <dashboardlayout result="item"  data="logdata">
    </dashboardlayout>
  </div> -->
  <div class="flexcontainer" ng-repeat="(key, value) in itemcollection | groupBy: 'slideone'">
<!-- {{ key }} -->
    <!-- ng if key =A then go to A slide -->
    <!-- ng if key =B then go to B slide -->
    <div class="flex-item" ng-if="key=='A'" ng-repeat="item in value">
      <h1>helooo i m in slide slide A</h1>
      <dashboardlayout result="item"  data="logdata">
      </dashboardlayout>
</div></div>  </div>
<!-- <div ng-if="key=='B'">
  <h1>helooo i m in slide B</h1>
</div> -->
      <!-- <ul>
        <li ng-repeat="item in value">
          {{ item.wlname}}
        </li>
      </ul> -->


  <!-- Second -->
  <!-- <ul>
  <li ng-repeat="(key, value) in itemcollection | groupBy: 'slideone'">
    {{ key }}
    <!-ng if key =A then go to A slide -->
    <!-- ng if key =B then go to B slide -->
    <!-- <ul>
      <li ng-repeat="item in value">
        {{ item.wlname}}
      </li>
    </ul>
  </li>
</ul> -->
    <!-- <md-button class="md-primary md-raised" ng-click="UI_Publish($event)">
      UI Publish
    </md-button> -->

</md-content>


<!-- <md-content class="content">
  <div class="flexcontainer" ng-controller="dashboardcontroller">
    <div ng-repeat="item in itemcollection">
      <dashboardlayout  flex="{{item.size}}" result="item"  data="logdata">
      </dashboardlayout>
    </div>
    <md-button class="md-primary md-raised" ng-click="UI_Publish($event)">
      UI Publish
    </md-button>
  </div>
</md-content> -->
