<md-content class="content">
  <div ng-controller="dashboardcontroller">
    <div layout="row" style="padding-top:10px;">
      <div flex="30" class="leftpadding">
        <md-select class="currSlideDropdown" md-selected-text="getSelectedText()" ng-model="selectedSlide" ng-change="goToSlide()" placeholder="{{currentSlide.slideName}}" width="4">
          <md-option ng-repeat="slide in userSlides[0].mySlides" ng-value="slide.slidename">
            <!-- <div ng-repeat="x in slide.mySlides"> -->
            {{slide.slidename}}
            <!-- </div> -->
          </md-option>
        </md-select>
      </div>
      <!-- <div flex="10">
      </div> -->
        <md-button class="currSlideDropdown md-raised md-accent" aria-label="Favorite" ng-click="slidecreate($event)">Add Slide
        </md-button>
        <!-- </div> -->
      <!-- <span  flex></span> -->
      <!-- <div flex="20">
      <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
      <md-icon class="material-icons">add</md-icon>
    </md-button>
  </div> -->
</div>
<div class="flexcontainer">
  <watchwidget class="flex-item" ng-repeat="watch in watchCollection"
   flex="{{watch.publishers.dashboard.displaySize}}" watchdefn="watch" eventobj="socket" >
</watchwidget>
</div>
</div>
</md-content>
