<md-dialog flex="35">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2> Composite Functions</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="FrmDataField" layout="column" layout-sm="column" layout-padding flex ng-submit="updateBackPublisher()">
      <md-input-container flex layout="column">
        <md-select flex name="compositeFunctionOption" ng-model="fieldData.function" md-on-close="clearSearchTerm()" ng-change="loadParameters()" required>
          <label layout layout-padding>Select Composite Function</label>
          <md-option layout layout-padding ng-repeat="i in compositeFunctionOption">{{i.name}} </md-option>
        </md-select>
        <div ng-messages="FrmDataField.compositeFunctionOption.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container ng-repeat="i in params" flex="50" layout="column">
        <md-subheader ng-if="$index==0">Map Parameters:</md-subheader><!--You can use md-no-sticky class-->
        <md-select flex="100" name="compositeFunctionOperands" md-on-close="clearSearchTerm()" ng-model="fieldData.functionparameters[i.name]" required>
          <label layout layout-padding>{{i.name}}</label>
          <md-option layout layout-padding ng-repeat="datafield in datafields">{{datafield}} </md-option>
        </md-select>
        <div ng-messages="FrmDataField.compositeFunctionOperands.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" flex layout-align="end end">
      <span flex></span>
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button type="submit" class="md-primary md-raised" > OK </md-button>
    </form>
  </md-dialog-actions>
</md-dialog>
