<md-dialog class="watchlistDialog">
  <md-toolbar>
 <div class="md-toolbar-tools">
<h2>Accumulate</h2>
 </div>
  </md-toolbar>
  <md-dialog-content class="md-padding">
 <form name="Form" ng-submit="saveData()">
<div layout="column" layout-sm="column">

  <md-input-container class="watchlistcheckbox" flex="50">
 <md-select ng-model="fieldData.accumulatecriteria">
 <label>Accumulate On</label>
<md-option>Record Count</md-option>
<md-option>Time</md-option>
 </md-select>
  </md-input-container>

  <md-input-container class="watchlistcheckbox" flex="50">
 <label>Accumulate Till</label>
 <input ng-model="fieldData.accumulatorvalue">
  </md-input-container>
  <!-- <md-input-container class="watchlistcheckbox"  flex>
 <label>Condition</label>
 <input ng-model="fieldData.accumulatecondition">
  </md-input-container> -->


  <md-input-container class="watchlistcheckbox" flex>
      <md-select ng-model="fieldData.FunctionenPostAccumulation">
          <label>Function post Accumulation</label>
        <md-option ng-repeat="object in function">{{object.fun_name}}</md-option>
      </md-select>
 </md-input-container>
        <md-input-container class="watchlistcheckbox" flex>
            <label>Specify Parameters</label>
              <input ng-model="fieldData.FunctionenPostAccumulationParam">
        </md-input-container>
</div>
 </form>
  </md-dialog-content>
  <md-dialog-actions layout="row">
 <md-button type="submit" class="md-primary" ng-click="updateBackPublisher()"> OK </md-button>
 <md-button ng-click="cancel()"> Cancel </md-button>
  </md-dialog-actions>
</md-dialog>
