<div class="md-padding toolbardemoBasicUsage">
  <h2 flex-offset="30" class="md-headline"> Create your own function</h2>
  <div layout="row">
    <div flex="35" layout-align="right" class="inputdemoIcons">
      <md-input-container class="md-block">
        <md-icon md-svg-src="image/svg/add-label-button.svg"></md-icon>
        <input ng-model="function.fun_name" type="text" placeholder="Name" required>
      </md-input-container>

      <md-input-container class="md-block">
        <md-icon md-svg-src="image/svg/sort-button-with-three-lines.svg"></md-icon>
        <textarea ng-model="function.Descr" type="textarea" placeholder="Description" required>
        </textarea>
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon md-svg-src="image/svg/function.svg"></md-icon>
        <div layout="row" >
          <div class=label flex="60">
            <label>Function Variables Type</label>
          </div>
          <div class="funcCheck" flex="40"  layout="column" layout="layout-padding">
            <div flex="50">
              <md-checkbox  ng-click="">
                Dimensions
              </md-checkbox>
            </div>
            <div flex="50">
              <md-checkbox ng-click="">
                Measures
              </md-checkbox>
            </div>
          </div>

        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon md-svg-src="image/svg/icon.svg"></md-icon>
        <textarea class="textarea" ng-model="function.var" type="textarea" placeholder=Variables required>
        </textarea>
      </md-input-container>
    </div>
    <div flex="65">
      <div layout="column">
        <div flex="20">
          <h1 class="md-title code ">Write your function here....</h1>
        </div>
        <div flex="60">
          <div ui-ace ng-model="function.fun">
          </div>
        </div>

        <div flex="20" class="buttondemoBasicUsage">
          <md-button flex-offset="40"class="md-accent md-raised md-hue-1" ui-sref="function" ng-click="saveData()">Save</md-button>
          <md-button class="md-accent md-raised md-hue-1" ui-sref="function">Cancel</md-button>
        </div>

      </div>
    </div>
  </div>
</div>
