<md-content class="content" flex>
    <div id="title" class="slide header">
      <!-- <h1>Pure CSS Parallax</h1> -->
    </div>

    <div id="slide1" class="slide" layout="">

      <md-content class="title" id="aboutUs">
        <!-- <video src="/images/hero.mp4" autoplay></video> -->
        <h1 class="md-display-3" layout="row" layout-align="center">About Us</h1>
        <p class="md-body-3" layout="column" layout-xs="row">
          In this digital world, there is huge amount of real time data coming from servers, IOT devices, click streams, and so on. It is really important to continously monitor this real time data to increase performanace, enhance productivity, and to ensure security. Tattva is a leading platform which focuses on gathering such data, analyzing and generating patterns for triggering appropriate actions.
        </p>
      </md-content>
    </div>

    <div id="slide2" class="slide">
      <div class="title">
        <h1>Slide 2</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
      </div>
    </div>

    <div id="slide3" class="slide">
      <div class="title">
        <h1>Slide 3</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
      </div>
    </div>

</md-content>
