<div flex ng-controller="createNamespaceCtrl" ng-cloak>
  <form name="createNameSpace" novalidate>
    <div layout="column" layout-padding flex>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe" flex layout="column">
        <div  flex layout>
          <md-input-container flex="30" >
            <label>Name of NameSpace</label>
            <input type="text" ng-model="name" name="name" required>
            <div ng-messages="createNameSpace.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <div  flex layout>
          <md-input-container flex="30" >
            <textarea class="textarea" ng-model="description" type="textarea" placeholder="Description" ></textarea>
          </md-input-container>
        </div>
      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe" layout-padding>
        <md-input-container flex layout>
          <label>Define data schema for NameSpace</label>
        </md-input-container>

        <div layout="row" flex>
          <md-input-container flex="20">
            <label>Name</label>
            <input type="text" ng-model="fieldAlias" required>
            <div ng-messages="createNameSpace.fieldAlias.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex-offset="5" flex="20">
            <label>Field Name</label>
            <input type="text" ng-model="fieldName" required>
            <div ng-messages="createNameSpace.fieldName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex-offset="5" flex="8">
            <md-radio-group ng-model="fieldType" class="md-primary" required>
              <md-radio-button value="dimension">Dimension (differentiates data)</md-radio-button>
              <md-radio-button value="measure">Measure (measurable field)</md-radio-button>
            </md-radio-group>
          </md-input-container>

          <md-input-container flex-offset="5">
            <md-button class="md-raised md-primary" ng-click="addDataFormat()" ng-disabled="createNameSpace.$invalid">Add</md-button>
          </md-input-container>
        </div>
      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe " flex layout="column" layout-padding>
        <md-input-container flex layout>
          <label>Data schema for NameSpace</label>
        </md-input-container>
        <md-content layout="column" flex>
          <div ng-if="!nameSpace.dataSchema.length">
            <p>Data Schema not defined!</p>
          </div>
          <md-table-container flex ng-if="nameSpace.dataSchema.length" md-whiteframe="2">
            <table md-table md-progress="promise" flex border>
              <div flex>
                <thead  md-head md-order="" md-on-reorder=""  flex>
                  <tr md-row flex>
                    <th md-column ng-repeat="(key, val) in nameSpace.dataSchema[0]" flex>
                      <span>{{key}}</span>
                    </th>
                    <th></th>
                  </tr>
                </thead>
              </div>
              <div flex>
                <tbody md-body flex >
                  <tr ng-repeat="dataSchemaObj in nameSpace.dataSchema" md-row flex>
                    <td md-cell ng-repeat="(key, val) in dataSchemaObj" flex>
                      <span>{{val}}</span>
                    </td>
                    <td flex md-cell><md-button class="md-fab md-primary md-mini createNameSpaceDeleteButton" aria-label="Delete" ng-click="delete($index)">
                      <b>-</b>
                    </md-button></td>
                  </tr>
                </tbody>
              </div>
            </table>
          </md-table-container>


        </md-content>
      </md-whiteframe>
      <div></div>
      <md-whiteframe class="md-whiteframe-1dp createNameSpaceWhiteframe " layout layout-align="center center" layout-padding>
        <md-button class="md-raised md-primary" ng-click="createNamespaceSubmit()" ng-disabled="!nameSpace.dataSchema.length">Create</md-button>
      </md-whiteframe>
    </div>
  </form>
</div>
