<div class="shad">
<div class="pray">{{myresult.wlname}}</div>
   <md-tabs md-dynamic-height md-border-bottom>
         <md-tab label="Graph">
           <graph></graph>
         </md-tab>
         <md-tab label="log Data">
           <data></data>
         </md-tab>
         <md-tab label="Execution Flow">
            <flow></flow>
         </md-tab>
       </md-tabs>
       <md-divider></md-divider>

       <md-button class="md-primary md-raised md-hue-2">Add to your page.</md-button>
       <md-button class="md-primary md-raised md-hue-2">Edit your page.</md-button>
     </div>
