

<div class="designbody">
  <!-- <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Design</span>
      <span flex></span>
    </div>
  </md-toolbar> -->
  <md-content md-padding>
    <md-tabs md-stretch-tabs="never" md-selected="selectedIndex" md-swipe-content="true" md-border-bottom >
      <md-tab label="Namespace" ui-sref=".namespace"></md-tab>
      <md-tab label="Instance" ui-sref=".instance"></md-tab>
      <md-tab label="Streams" ui-sref=".stream"></md-tab>
      <md-tab label="Functions" ui-sref=".function"></md-tab>
      <md-tab label="Watchlist" ui-sref=".watchlist"></md-tab>
    </md-tabs>
  </md-content>


  <!-- <div ui-view="design" id="tabView" ></div> -->
  <div ui-view></div>
  <!-- <div ui-view="design2" id="tabView" ></div> -->
  <!-- <div layout="row" >
    <div id="noSubscriber" flex layout-padding layout-margin >

        <h1>Namespace</h1>
        <h3>Create Namespace</h3>
        <p>Click on the below button to create a namespace.</p>
        <md-button class="md-raised md-primary" ui-sref=".createNamespace">Create</md-button>

    </div> -->
    <!-- <div ui-view='design'></div> -->
  </div>
