<div layout="column" class="footer" id="footer">
  <div class="footer_part1" layout="row">
    <div flex="33">
    </div>
    <div flex="40" layout="row">
      <div flex="25">
        <ng-md-icon icon="facebook-box" style="fill: #0CD4D4" size="50"></ng-md-icon>
      </div>
      <div flex="25">
        <ng-md-icon icon="github-circle" style="fill: #0CD4D4" size="50"></ng-md-icon>
      </div>
      <div flex="25">
        <ng-md-icon icon="google-plus" style="fill: #0CD4D4" size="50"></ng-md-icon>
      </div>
      <div flex="25">
        <ng-md-icon icon="twitter" style="fill: #0CD4D4" size="50"></ng-md-icon>
      </div>
    </div>
    <div flex="27">
    </div>
  </div>
  <div class="footer_part2">
  </div>
</div>
