<div flex flex-offset="5">
  <div layout="row">
    <div flex="40"></div>
    <div flex="50"><h2>Function List</h2></div>
    <div flex="10">
    <md-button class="md-fab md-mini" aria-label="Favorite" ui-sref="design.addfunction">
          <md-icon md-svg-icon="image/svg/add-plus-button.svg"></md-icon>
        </md-button>
        </div>
  </div>
<div layout="row">
  <md-list flex="50">
      <md-list-item class="md-3-line" ng-repeat="item in data" ng-if="$index % 2 == 0" ng-click="null">
        <div layout="column" flex="100">
          <div layout="row" layout-padding>
          <p><ng-letter-avatar data="{{ data[$index].fun_name  }}"></ng-letter-avatar></p>
          <h4>{{ data[$index].fun_name  }}</h4>
          <ng-md-icon class="md-secondary" icon="more_horiz" ng-class="{'selected-item': $index == selectedUserIndex}" ng-click="selectUserIndex($index)"></ng-md-icon>
        </div>
        <div layout="row" ng-show="$index == selectedUserIndex">
          <div flex="50" flex-offset="10"><p>Description:{{data[$index].Descr}}</p></div>
        </div>
        <div layout="row" ng-show="$index == selectedUserIndex">
          <div flex="50" flex-offset="10"><ng-md-icon icon="delete" ng-click="deleteMe()"></ng-md-icon></div>
          <div flex="40"><ng-md-icon icon=" mode_edit" ui-sref="design.inbox2"></ng-md-icon></div>
        </div>
      </div>
      <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
</md-list>
<md-list flex="50">
    <md-list-item class="md-3-line" ng-repeat="item in data" ng-if="$index % 2 == 0" ng-click="null">
      <div layout="column" flex="100">
        <div layout="row" layout-padding>
        <p><ng-letter-avatar data="{{ data[$index+1].fun_name  }}"></ng-letter-avatar></p>
        <h4>{{ data[$index+1].fun_name  }}</h4>
        <ng-md-icon class="md-secondary" icon="more_horiz" ng-class="{'selected-item': $index == selectedUserIndex1}" ng-click="selectUserIndex1($index)"></ng-md-icon>
      </div>
      <div layout="row" ng-show="$index == selectedUserIndex1">
        <div flex="50" flex-offset="10"><p>Description:{{data[$index+1].Descr}}</p></div>
      </div>
      <div layout="row" ng-show="$index == selectedUserIndex1">
        <div flex="50" flex-offset="10"><ng-md-icon icon="delete" ng-click="deleteMe()"></ng-md-icon></div>
        <div flex="40"><ng-md-icon icon=" mode_edit" ui-sref="design.inbox2"></ng-md-icon></div>
      </div>
    </div>
    <md-divider md-inset ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>
</div>
</div>
