<div class="md-padding toolbardemoBasicUsage">
 <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span sytle="text-transform:uppercase">Create your own functions</span>
        </h2>
        <span flex=""></span>
      </div>
    </md-toolbar>
    <div layout="row" ng-repeat="item in data">
        <div flex="35" layout-align="right" class="inputdemoIcons">
    <md-input-container class="md-block">
      <md-icon md-svg-src="images/svg/add-label-button.svg"></md-icon>
      <input ng-model="item.fun_name" type="text" placeholder="Name"  required>

    </md-input-container>

    <md-input-container class="md-block">
      <md-icon md-svg-src="images/svg/sort-button-with-three-lines.svg"></md-icon>
      <textarea ng-model="item.Descr" type="textarea" placeholder="Description" required>
      </textarea>
    </md-input-container>
    <md-input-container class="md-block">
      <md-icon md-svg-src="images/svg/function.svg"></md-icon>
           <div layout="row" >
    <div class=label flex="60">
   <label>Function Variables Type</label>
     </div>
       <div class="funcCheck" flex="40"  layout="column" layout="layout-padding">
              <div flex="50">
              <md-checkbox  ng-click="">
              Dimensions
              </md-checkbox>
              </div>
              <div flex="50">
              <md-checkbox ng-click="">
              Measures
              </md-checkbox>
              </div>
              </div>

            </div>
    </md-input-container>
     <md-input-container class="md-block">
      <md-icon md-svg-src="images/svg/icon.svg"></md-icon>
      <textarea class="textarea" ng-model="item.var" type="textarea" placeholder=Variables required>
      </textarea>
     </md-input-container>
</div>
<div flex="65">
<div layout="column">
<div flex="20">
<h1 class="md-title code ">Change your function here....</h1>
</div>
<div flex="60">
<div ui-ace ng-model="item.fun" >

</div>
</div>

<div flex="20" class="buttondemoBasicUsage">
	<md-button class="md-accent md-raised md-hue-1" id="save" ui-sref="inbox1" ng-click="saveData()">Save</md-button>
</div>

</div>
</div>
</div>
