<div ng-cloak="" class="tabsdemoStaticTabs" class="content">
  <md-content class="md-padding">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

      <md-tab id="tab1">
        <md-tab-label>Subscription</md-tab-label>
        <md-tab-body>
          View for Subscription
        </md-tab-body>
      </md-tab>

      <md-tab id="tab2" ng-disabled="data.secondLocked">
        <md-tab-label>Streams</md-tab-label>
        <md-tab-body>

        </md-tab-body>
      </md-tab>

      <md-tab id="tab3">
        <md-tab-label>Function</md-tab-label>
        <md-tab-body>
          View for Function
        </md-tab-body>
      </md-tab>

      <md-tab id="tab4">
        <md-tab-label>Watch List</md-tab-label>
        <md-tab-body>
          View for Watchlist
        </md-tab-body>
      </md-tab>

    </md-tabs>
  </md-content>

<!-- <div class="md-padding" layout="row" layout-sm="column" layout-align="left center" style="padding-top: 0;">
</div> -->
</div>
