<div flex flex-offset="20">
<div ng-controller="viewCtrl" class="content">
<table>
<tr>
  <th colspan="2" style="text-align: center">
    <h2>Stream Details</h3>
  </th>
</tr>
<tr>
<th>Namespace </th>
<td>{{streamDetails.namespace}}</td>
</tr>

<tr>
<th>Instance </th>
<td>{{streamDetails.instance}}</td>
</tr>

<tr>
<th>Stream </th>
<td>{{streamDetails.streamname}}</td>
</tr>

<tr>
<th>Description </th>
<td>{{streamDetails.description}}</td>
</tr>

<tr ng-repeat="val in streamDetails.query">
<th>Query </th>
<td>{{val.field}} {{val.operator}} {{val.value}}</td>
</tr>



</table>

</div>
