<!-- <div>
<md-card>
<md-card-content>
<div layout="row" class="md-list-item-text md-tile-left inset">

  <div layout-align="end center">
    <ng-letter-avatar data={{params}} shape="round" size="20px"></ng-letter-avatar>
  </div>
{{params}}
<a ui-sref="streams.viewdata({name: '{{objectJson}}'})"><md-card-actions layout-align="end center">

<md-icon md-svg-src="images/editing.svg" alt="edit" ></md-icon>
</md-card-action>
</a>

</div>
</md-card-content>

</md-card>
</div> -->

<div ng-controller="VICtrl" class="content">
<md-grid-list flex md-cols="12" md-row-height="40px" md-gutter="12px" layout-padding layout-margin>
 <md-grid-tile md-rowspan="2" md-colspan="6">
   <div layout="row" class="md-list-item-text md-tile-left inset">
     <div>
      <ng-letter-avatarlflex-offset="5" data={{avatar}} shape="round" size="20px"></ng-letter-avatar>
      {{params}}
      <a ui-sref="mainstream.streams.viewdata({name: '{{objectJson}}'})">
  <!--   <md-card-actions layout-align="end center"> -->
      <md-icon md-svg-src="images/editing.svg" alt="edit" ></md-icon>
  <!--   </md-card-actions> -->
      </a>
    </div>
  </div>
 </md-grid-tile>
</md-grid-list>
</div>
