<md-dialog class="watchlistDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2> DataFields From Namespace</h2>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-padding">
    <form name="FrmDataField" ng-submit="updateBackPublisher()">
      <div layout layout-sm="column">
        <md-input-container flex>
        {{ fielData2}}
          <md-select name="DataField"ng-model="fieldData.DataField" required>
            <label>Select DataFields</label>
            <md-option ng-repeat="i in DataField">{{i}} </md-option>
          </md-select>
          <div ng-messages="FrmDataField.DataField.$error">
              <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button type="submit" class="md-primary md-raised" > OK </md-button>
    </form>
  </md-dialog-actions>
</md-dialog>
