#sbrst {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  background: #fff;
  margin: 30px;
}
/*form {
  position: absolute;
  right: 10px;
  top: 10px;}*/
path {
  stroke: #fff;
  fill-rule: evenodd;}

/*legend dialog*/
  #explanation {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 140px;
    height: 20px;
    text-align: center;
    color: #666;
    z-index: 1000;
  }
/*only sunburst styling added so far*/

/* for orgwatch dialog*/
.full-dialog{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;

}

/* for orgInfo dialog*/
.fullscreen-dialog{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
