#sbrst {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  background: #fff;
  margin: 30px;
}
.vertical-divider {
  padding-top: 4.6%;
  width: 6%;
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  padding-bottom: 0px;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;}
path {
  stroke: #fff;
  fill-rule: evenodd;}

/*only sunburst styling added so far*/
