<!DOCTYPE html>
<html>
<head>
	<title>Data Display App</title>

	<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <!-- <script src="/angular-material-icons/angular-material-icons.min.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
		  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
			<script src="/js/tattva.js"></script>
</head>
<body ng-app='myApp' ng-controller="myController" >
<div class="flexcontainer">
	<div class="flex-item" ng-repeat="item in itemcollection">
<dashboardlayout  result="item"  data="logdata">
			</dashboardlayout>
		</div>
</div>

</body>


</html>
