<!DOCTYPE html>
<html>
<head>
	<title>LogAggregatorRT</title>

	<link rel="stylesheet" href="/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/angular-material-icons/angular-material-icons.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body ng-app='tattva' ng-cloak="">
	<h1>Complex Event Processor - Real Time</h1>
</body>

<script src="/angular/angular.min.js" charset="utf-8"></script>
<script src="/angular-animate/angular-animate.min.js" charset="utf-8"></script>
<script src="/angular-aria/angular-aria.min.js" charset="utf-8"></script>
<script src="/angular-messages/angular-messages.min.js" charset="utf-8"></script>
<script src="/angular-route/angular-route.min.js" charset="utf-8"></script>
<script src="/angular-material/angular-material.min.js" charset="utf-8"></script>
<script src="/angular-material-icons/angular-material-icons.min.js" charset="utf-8"></script>

<script src="/js/tattva.js" charset="utf-8"></script>

</html>
