<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/angular-material/angular-material.min.css">
<script src="/angular/angular.min.js"></script>
<script src="/angular-animate/angular-animate.min.js"></script>
<script src="/angular-aria/angular-aria.min.js"></script>
<script src="/angular-material/angular-material.min.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/js/dataApp.js"></script>

</head>

<body ng-app="routerApp" ng-controller="routerCtrl">
<!-- <div layout="column">
  <md-tabs md-center-tabs="true" md-dynamic-height="true" md-stretch-tabs="always" class="head-tab">
    <md-tab class="body-tab" ui-sref="subscription"><a >Subscription</a></md-tab>
    <md-tab class="body-tab" ui-sref="streams"><a >Streams</a></md-tab>
    <md-tab class="body-tab" ui-sref="function"><a >Function</a></md-tab>
    <md-tab class="body-tab" ui-sref="watchlist"><a >Watch List</a></md-tab>
  </md-tabs>
</div> -->

  <!-- <div ui-view></div> -->
<a ui-sref="mainstream">Design</a>
<div ui-view></div>
<script src="/ng-letter-avatar/dist/ngletteravatar.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
</body>
</html>
