<!DOCTYPE html>
<html lang="en">
<head>
	<title>LogAggregatorRT</title>

	<link rel="stylesheet" href="/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/angular-material-icons/angular-material-icons.css" media="screen" title="no title" charset="utf-8">
	<!-- <link rel="stylesheet" href="malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/> -->
	<link rel="stylesheet" href="angular-material-data-table/dist/md-data-table.min.css">

	<link rel="stylesheet" href="/design/instances/css/instancestyle.css">
	<link rel="stylesheet" href="/home/css/homestyle.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/angular-material-icons/angular-material-icons.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="angular-material-data-table/dist/md-data-table.min.css">
	<link rel="stylesheet" href="/organization/css/organisationstyle.css">
	<link rel="stylesheet" href="/Function/css/function.style.css">

</head>
<body ng-app='tattva' ng-controller="AppRouteCtrl" ng-cloak>
	<div layout="column" ng-clock>
		<div ui-view="header"></div>
		<div ui-view="content"></div>
		<div ui-view="footer"></div>
	</div>

	<script src="/angular/angular.js" charset="utf-8"></script>
	<script src="ng-letter-avatar/dist/ngletteravatar.min.js"></script>
	<script src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="angular-ui-ace/ui-ace.js"></script>
	<script src="/angular-animate/angular-animate.min.js" charset="utf-8"></script>
	<script src="/angular-aria/angular-aria.min.js" charset="utf-8"></script>
	<script src="/angular-messages/angular-messages.min.js" charset="utf-8"></script>
	<script src="/angular-material/angular-material.min.js" charset="utf-8"></script>
	<script src="/angular-material-icons/angular-material-icons.min.js" charset="utf-8"></script>
	<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/angular-material-data-table/dist/md-data-table.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

	<!-- <script src="/js/tattva.js" charset="utf-8"></script> -->

	<!-- Tattva app -->
	<script src="tattva.module.js" charset="utf-8"></script>
	<!-- End Tattva app -->

	<!-- Login module -->
	<script src="/auth/auth.module.js" charset="utf-8"></script>
	<script src="/auth/controller/loginctrl.js" charset="utf-8"></script>
	<!-- End of Login module -->

	<!-- Organization module -->
	<script src="/organization/organization.module.js"></script>
	<script src="/organization/controllers/organization.controller.js"></script>
	<!-- End of Organization module -->

	<!-- function module -->
	<script src="/Function/function.module.js"></script>
	<script src="/Function/controller/function.contoller.js"></script>
	<!-- end of function module -->

	<!--instance module scripts-->
	<script src="design/instances/instance.module.js" charset="utf-8"></script>
	<script src="design/instances/controller/instancecontroller.js" charset="utf-8"></script>
	<script src="design/instances/controller/viewinstancecontroller.js" charset="utf-8"></script>
	<!--instance scripts end-->

	<!-- Streams module -->
	<script src="design/streams/streams.module.js" charset="utf-8"></script>
	<script src="design/streams/service/streams.factory.js" charset="utf-8"></script>
	<script src="design/streams/service/streams.service.js" charset="utf-8"></script>
	<script src="design/streams/directive/createquery.js" charset="utf-8"></script>
	<script src="design/streams/controller/streams.controller.js" charset="utf-8"></script>
	<!--End of Streams module -->

	<!-- Watchlists module -->
	<script src="/watchlists/watchlists.module.js" charset="utf-8"></script>
	<script src="/watchlists/service/wlstDataService.js" charset="utf-8"></script>
	<script src="/watchlists/directive/donutchart_directive.js" charset="utf-8"></script>
	<script src="/watchlists/directive/linechart_directive.js" charset="utf-8"></script>
	<script src="/watchlists/directive/dashboardlayout.js" charset="utf-8"></script>
	<script src="/watchlists/controller/operator.js" charset="utf-8"></script>
	<script src="/watchlists/controller/rfield.js" charset="utf-8"></script>
	<script src="/watchlists/controller/lfield.js" charset="utf-8"></script>
	<script src="/watchlists/controller/output.js" charset="utf-8"></script>
	<script src="/watchlists/controller/DialogControllerwatchlist.js" charset="utf-8"></script>
	<script src="/watchlists/controller/streamCtrl.js" charset="utf-8"></script>
	<script src="/watchlists/controller/watchlistctrl.js" charset="utf-8"></script>
	<script src="/watchlists/controller/linechartcontroller.js" charset="utf-8"></script>
	<!-- End of Watchlists module -->

	<!--  dashboard module-->
	<script src="/dashboard/dashboard.module.js" charset="utf-8"></script>
	<script src="/dashboard/controller/dashboardcontroller.js" charset="utf-8"></script>
	<!--dashboard end  -->

	<!-- Home Module -->
	<script src="/home/home.module.js" charset="utf-8"></script>
	<script src="/home/controller/approutectrl.js" charset="utf-8"></script>
	<script src="/home/controller/headerctrl.js" charset="utf-8"></script>
	<!-- End Home Module -->
</body>
</html>
