.fix
{
  height: 250px;
}
.shad:hover
{
  box-shadow:  5px 5px 5px #737373;
}
.shad
{
  height:404px;
  border:1px solid #cfcfd6;
  border-radius: 1%;
}
.pray
{
  background-color: #D2EFF3;
  font-size: 24px;
  padding: 10px;
}
button{
  cursor: pointer;
  float: right;
}
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;
  background-color: #FDFDFD;
}

md-icon:focus {
    outline: none;
    border: 0;
 }
.flex-item
{
  /*width:47%;*/
  border-radius: 1%;
  padding: 15px;
}

.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering:crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

/*h1{
font-family: sans-serif;
font-weight: bold;
font-size: 16px;
}*/
.tick
{
  stroke-dasharray: 1, 2;
}
#vertical-container {
  height: 522px;
  width: 100%;
  border: solid 1px grey;
}
.mytool
{
  padding-top: 30px;
}
.design
{
  /*position: absolute;
  top:100px;
  left:100px;*/
  width: 400px;
  height: :300px;
  background-color: red;
  /*display: none;*/
}
.design:hover
{
  display: none;
}
.editbtn{
  float: right;
  cursor: pointer;
}
.currSlideDropdown{
  margin: 0px;
}
.leftpadding{
  padding-left: 15px;
}
