<!-- <h1 class="pad content">Hello you have clicked on actions.</h1>
<h3 class="pad">Thanks for showing your interst.</h3>
<p class="pad">
We welcome you..!!!
</p> -->

<div layout="row" flex class="noSubscriber" layout-align="center center">
  <div  flex layout-padding layout-margin layout-align="start">
    <h2>You have not yet configured actions</h2>
    <p>Using actions, you can link watch list result for an automated action by Tattva</p>
    <md-button class="md-raised md-primary" >Actions</md-button>
  </div>
</div>
