<div class="content">
  <div layout="column" id="hero" class="full_width">
    <img class="mainImg" src="/images/content1.jpg" alt="" />
    <!-- <ng-md-icon id="start" class="nav-start" ng-click="gotoSlide1()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
  </div>

  <div class="full_width" id="slide1">
    <!-- <ng-md-icon id="start" class="nav" ng-click="gotoSlide2()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
    <h1 class="md-primary pad">How it Works</h1>
    <div layout="row" layout-xs="column" layout-wrap>
      <div flex="32">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Data processing</span>
            </md-card-title-text>
          </md-card-title>
          <img src="/images/eg1Img.png" class="md-card-images" alt="Washed Out">
          <md-card-content>
            <p>
              By observing the credit card access pattern of a specific user and by comparing each access with his
              historic access pattern, flag the access as fraudulent or normal, before the transaction is complete or settled.
              by continuously calculating the average price of a specific stock's
              price against the competitors stock price.
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex="32">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Execution</span>
            </md-card-title-text>
          </md-card-title>
          <img src="/images/eg2Img.png" class="md-card-images" alt="Washed Out">
          <md-card-content>
            <p>
              On a stock price data feed, by continuously calculating the average price of a specific stock's
              price against the competitors stock price, we can trigger event if the price is sharply raising/dropping
              due unexpected event at stock's firm, which can help the trader to decide if he/she has to got long or
              short on the stock
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex="32">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Future Scope</span>
            </md-card-title-text>
          </md-card-title>
          <img src="/images/healthcare.jpg" class="md-card-images" alt="Washed Out">
          <md-card-content>
            <p>
              Application of complex event processing is growing in healthcare to provide solutions for
              personalized medicine.
              Computers and information systems can be used for collecting patient data in healthcare.
              Monitoring patterns in these inputs can help in providing precautionary medication to patients.

            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>

  <div class="full_width" layout="column" id="slide2">
    <h1 class="pad">COLLABORATORS</h1>
    <!-- <ng-md-icon id="start" class="navlast" ng-click="gotoSlide3()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
    <div id="slide2Content" autoscroll='false'>
      <md-grid-list md-cols="4" md-cols-sm="8" md-row-height="60px" md-gutter="40px">
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/swagat.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/prarthna.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/swagat.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/pooja.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/surya_pic.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/rahul.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/surya.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/jasjeet.JPG" alt="" />
        </md-grid-tile>

      </md-grid-list>
    </div>
  </div>
</div>
