<div class="content">
  <div layout="column" id="hero" class="full_width">
    <img class="mainImg" src="/images/content1.png" alt="" />
    <!-- <ng-md-icon id="start" class="nav-start" ng-click="gotoSlide1()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
  </div>

  <div class="full_width" id="slide1">
    <!-- <ng-md-icon id="start" class="nav" ng-click="gotoSlide2()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
    <h1 class="md-primary">How it Works</h1>
    <div layout="row" layout-xs="column" layout-wrap>
      <div flex="32">
        <md-card>
          <img src="/images/eg1Img.png" class="md-card-images" alt="Washed Out">
          <md-card-content>
            <p>
              By observing the credit card access pattern of a specific user and by comparing each access with his
              historic access pattern, flag the access as fraudulent or normal, before the transaction is complete or settled.
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex="32">
        <md-card>
          <img src="/images/eg2Img.png" class="md-card-images" alt="Washed Out">
          <md-card-content>
            <p>
              On a stock price data feed, by continuously calculating the average price of a specific stock's
              price against the competitors stock price, we can trigger event if the price is sharply raising/dropping
              due unexpected event at stock's firm, which can help the trader to decide if he/she has to got long or
              short on the stock
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div flex="32">
        <md-card>
          <img src="/images/content1.png" class="md-card-images" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Action buttons</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>

  <div class="full_width" layout="column" id="slide2">
    <h1>Our Team</h1>
    <!-- <ng-md-icon id="start" class="navlast" ng-click="gotoSlide3()" icon="arrow_drop_down_circle" style="fill: #0CD4D4" size="40"></ng-md-icon> -->
    <div id="slide2Content" autoscroll='false'>
      <md-grid-list md-cols="4" md-cols-sm="8" md-row-height="60px" md-gutter="40px">
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/swagat.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/prarthna.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/swagat.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/pooja.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/surya_pic.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/img1.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/img2.jpg" alt="" />
        </md-grid-tile>
        <md-grid-tile md-rowspan="3" md-colspan="1" md-colspan-sm="4" md-colspan-xs="1">
          <img class="person" src="/images/img1.jpg" alt="" />
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
