<div  ng-controller="HeaderCtrl" >
  <md-toolbar class="main-bar">
    <div class="md-toolbar-tools md-whiteframe-z2" layout="row">
      <div ng-if="userNavItems.sideNav.length">
        <md-icon class=" editbtn material-icons" ng-click="openLeftMenu()">menu</md-icon>
      </div>
      <div ng-if="userNavItems.sideNav.length <= 0">
        <h2 class="md-display-1 md-flex" ng-model="header"><a ui-sref="tattva">TATTVA - Complex Event Processor</a></h2>
      </div>
      <div ng-if="userNavItems.sideNav.length" class="leftpadding">
        <h2 class="md-display-1 md-flex" ng-model="header"><a ui-sref="{{userNavItems.sideNav[0].link}}">{{user.orgName}}</a><span style="font-size:14px;">{{" ("+user.orgsite+"@tattva.com)"}}</span></h2>
      </div>
      <span flex></span>
      <div ng-if="displayTopNavIcon">
        <div layout="row" layout-padding>
          <notify-panel ng-if="user.role!='TATTVAADM'"></notify-panel><!--display the notification icon in header topnav-->
          <md-menu>
            <md-button style="font-size: 19px;" ng-click="$mdOpenMenu()" class="md-fab md-raised md-mini">{{user.name.substring(0,2)}}</md-button>
            <md-menu-content>
              <md-menu-item>
                <div class="md-list-item-text">
                <span><b>{{user.name}}</b><br>{{user.email}}</span>
                </div>
              </md-menu-item>
              <md-menu-item ng-repeat="topNavItem in userNavItems.topNav">
                <md-button ui-sref="{{topNavItem.link}}">{{topNavItem.menu}}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
      <div ng-if="!displayTopNavIcon">
        <div layout="column" ng-repeat="topNavItem in userNavItems.topNav">
          <a class="linkClr" ui-sref="{{topNavItem.link}}"><md-button>{{topNavItem.menu}}</md-button></a>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left" layout="column" style="background-color:#0F423E">
    <div layout="row" class="snvhead" flex="10">
      <!--inline styling has to be removed later-->
      <span flex="30"><img class="logo" style="height:35px; width:55px;" ng-src="{{user.orgLogo}}"/></span>
      <span flex="70"><h3 class="linkClr">{{user.orgName}}</h3></span>
    </div>
    <md-divider></md-divider>
    <md-list flex="80">
      <md-list-item ng-repeat="item in items">
        <div ng-mouseover="sublist=true" ng-mouseleave="sublist=false">
          <md-icon class="material-icons" style="color:#DEF7F5;">{{item.icon}}</md-icon>
          <a class="linkClr" ui-sref="{{item.link}}" ng-click="openLeftMenu()">{{item.menu}}</a>
          <md-list ng-if="item.children.length > 0">
            <md-list-item  ng-show="sublist" ng-repeat="child in item.children">
              <a class="linkClr" ui-sref="{{child.link}}" ng-click="openLeftMenu();onchange(child.link)">{{child.menu}}</a>
            </md-list-item>
          </md-list>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <div flex="12">
      <md-list>
        <md-list-item>
          <a class="linkClr" href="https://en.wikipedia.org/wiki/Complex_event_processing">About us</a>
        </md-list-item>
        <md-list-item>
          <a class="linkClr" href="#">Privacy</a><pre> & </pre><a class="linkClr" href="#">Terms</a>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
</div>