<div  ng-controller="HeaderCtrl" >
  <md-toolbar class="main-bar">
    <div class="md-toolbar-tools" layout="row">
      <div class="" flex="5" ng-if="userNavItems.sideNav.length">
        <ng-md-icon icon="menu" ng-click="openLeftMenu()" style="fill: white" size="25"></ng-md-icon>
      </div>
      <div ng-repeat="topNavItem in userNavItems.topNav" flex="100" layout="row">
        <h2 class="md-display-1 md-flex">{{user.orgName}}</h2>
        <h2 class="md-display-1 md-flex">{{topNavItem.title}}</h2>
        <span flex flex-offset="20"><a ui-sref="{{topNavItem.link}}"><md-button>{{topNavItem.menu}}</md-button></a></span>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left" layout="column">
    <div layout="row" class="snvhead" flex="15">
      <span flex="30"><img ng-src="/images/LogoWipro.jpg"/></span>
      <span flex="70"><h3>{{user.orgName}}</h3></span>
    </div>
    <md-divider></md-divider>
    <md-list flex="70">
      <md-list-item ng-repeat="item in items" >
        <div ng-mouseover="sublist=true" ng-mouseleave="sublist=false">
          <ng-md-icon icon="{{item.icon}}" style="fill: #00BCD4" size="20"></ng-md-icon>
          <a ui-sref="{{item.link}}">{{item.menu}}</a>
          <md-list ng-if="item.children.length > 0" >
            <md-list-item  ng-show="sublist" ng-repeat="child in item.children">
              <a ui-sref="{{child.link}}">{{child.menu}}</a>
            </md-list-item>
          </md-list>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <div flex="15">
      <md-list>
        <md-list-item>
          <h>Stackroute</h3>
          </md-list-item>
          <md-list-item>
            <a href="#">Privacy</a><pre> & </pre><a href="#">Terms</a>
          </md-list-item>
        </md-list>
      </div>
    </md-sidenav>
  </div>
