<div>
	<div layout="row" layout-align="none center" style="padding-left:15px;color: #8c8c8c;">
		<span flex>Notifications</span>
		<div flex layout="row" layout-align="end center">
			<md-button class="closebutton" ng-click="ctrl.closePanel()"><md-icon class="material-icons">close</md-icon></md-button>
		</div>
	</div>
	<div ng-repeat="item in notify | limitTo : 3">
		<md-divider></md-divider>
		<div layout="row"  layout-align="none center" style="padding-left:15px">
			<div>
				<ng-letter-avatar fontSize="18" width="32" height="32" data={{item.who}} shape="round" charCount="1"></ng-letter-avatar>
			</div>
			<div style="margin: 5px 8px;">
				<p><b>{{item.who+" "}}</b>{{item.did+" "}}
					<span><a href="" style="color:black;font-size:14px;"><u>{{item.what}}</u></a></span>
					<span><a href="" style="color:black;font-size:14px;">{{"on"+" "}}<u>{{item.where}}</u></a></span>
					<span style="font-size:14px;color:#8c8c8c;">{{" "+item.when+" "}}</span></p>
				</div>
			</div>
		</div>
		<div ng-if="notifyerror" style="color: #8c8c8c;">
			<md-divider></md-divider>
			<div layout="row"  layout-align="center center" style="padding-left:15px">
				<div style="margin: 5px 8px;">
					<p>You are yet to receive any Notifications</p>
				</div>
			</div>
		</div>
		<md-divider></md-divider>
		<md-button style="width:96%; text-transform:none; font-size: 16px;" ui-sref="tattva.notification" ng-click="ctrl.closePanel()">See all Notifications</md-button>
	</div>