<!-- <h1 class="pad content">As soon as some event will happen we will inform you by the mail.</h1>
<h3 class="pad">Thanks..!!!</h3> -->
<div layout="row" flex class="noSubscriber" layout-align="center center">
  <div  flex layout-padding layout-margin layout-align="start">
    <h2>There are no notifications pending</h2>
    <p>Notifications helps you easily get acquinted about new watches and changes to design of watches by your collegues</p>
    <md-button class="md-raised md-primary">Notification</md-button>
  </div>
</div>
